In [81]:
# Dependencies
import pandas as pd
from pathlib import Path

# CSV paths
games_details_path = Path('../data/cleaned_data/games_details_cleaned.csv')
games_path = Path('../data/cleaned_data/games_cleaned.csv')
teams_path = Path('../data/cleaned_data/teams_cleaned.csv')
players_path = Path('../data/cleaned_data/players_cleaned.csv')
ranking_path = Path('../data/cleaned_data/ranking_cleaned.csv')

# Creating dataframes
games_details = pd.read_csv(games_details_path)
games = pd.read_csv(games_path)
teams = pd.read_csv(teams_path)
players = pd.read_csv(players_path)
ranking = pd.read_csv(ranking_path)

Positions breakdown - Brent

In [82]:
# Creating main dataframe to work off of for positions section
positions = games_details[['PLAYER_NAME','START_POSITION',
                      'FGM', 'FGA', 'FG_PCT', 'FG2M', 'FG2A', 'FG2%',
                      'FG3M', 'FG3A', 'FG3_PCT',
       'FTM', 'FTA', 'FT_PCT',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS']]
positions

,PLAYER_NAME,START_POSITION,FGM,FGA,FG_PCT,FG2M,FG2A,FG2%,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS
0,Romeo Langford,F,1.0,1.0,1.000,1.0,1.0,1.000000,0.0,0.0,0.000,0.0,0.0,0.00,2.0,0.0,1.0,0.0,2.0,2.0
1,Jeremy Sochan,F,7.0,14.0,0.500,5.0,10.0,0.500000,2.0,4.0,0.500,7.0,10.0,0.70,9.0,6.0,1.0,0.0,2.0,23.0
2,Jakob Poeltl,C,6.0,9.0,0.667,6.0,9.0,0.666667,0.0,0.0,0.000,1.0,1.0,1.00,4.0,1.0,1.0,0.0,2.0,13.0
3,Devin Vassell,G,4.0,13.0,0.308,3.0,7.0,0.428571,1.0,6.0,0.167,1.0,1.0,1.00,9.0,5.0,3.0,0.0,2.0,10.0
4,Tre Jones,G,7.0,12.0,0.583,6.0,9.0,0.666667,1.0,3.0,0.333,4.0,4.0,1.00,2.0,3.0,0.0,0.0,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255639,Alonzo Gee,F,2.0,9.0,0.222,2.0,7.0,0.285714,0.0,2.0,0.000,0.0,0.0,0.00,3.0,2.0,2.0,0.0,3.0,4.0
255640,Tristan Thompson,F,5.0,8.0,0.625,5.0,8.0,0.625000,0.0,0.0,0.000,2.0,4.0,0.50,10.0,5.0,1.0,0.0,2.0,12.0
255641,Anderson Varejao,C,3.0,7.0,0.429,3.0,7.0,0.428571,0.0,0.0,0.000,3.0,3.0,1.00,23.0,9.0,0.0,2.0,1.0,9.0
255642,Dion Waiters,G,6.0,14.0,0.429,4.0,9.0,0.444444,2.0,5.0,0.400,3.0,4.0,0.75,2.0,0.0,3.0,0.0,3.0,17.0
255643,Kyrie Irving,G,11.0,20.0,0.550,8.0,14.0,0.571429,3.0,6.0,0.500,4.0,5.0,0.80,6.0,3.0,0.0,1.0,4.0,29.0

In [83]:
# Getting averages for each player
positions_stats = positions.set_index('START_POSITION').groupby(['START_POSITION','PLAYER_NAME']).mean().reset_index('START_POSITION')
positions_stats

,START_POSITION,FGM,FGA,FG_PCT,FG2M,FG2A,FG2%,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS
PLAYER_NAME,,,,,,,,,,,,,,,,,,,
Aaron Gray,C,1.965517,3.919540,0.452529,1.965517,3.919540,0.480145,0.000000,0.000000,0.000000,0.747126,1.264368,0.266276,6.160920,0.908046,0.413793,0.379310,1.137931,4.678161
Aaron Williams,C,2.080000,4.000000,0.461240,2.080000,4.000000,0.480505,0.000000,0.000000,0.000000,1.080000,1.480000,0.370160,4.120000,0.680000,0.360000,0.600000,1.080000,5.240000
Adonal Foyle,C,2.257353,4.389706,0.493625,2.257353,4.389706,0.508609,0.000000,0.000000,0.000000,0.492647,0.875000,0.236000,6.051471,0.639706,0.448529,1.882353,0.941176,5.007353
Al Harrington,C,4.878049,12.097561,0.386122,3.682927,8.634146,0.403520,1.195122,3.463415,0.315439,1.731707,2.292683,0.587976,7.000000,1.609756,0.902439,0.243902,1.390244,12.682927
Al Horford,C,5.739437,11.076291,0.522225,5.139671,9.447183,0.549086,0.599765,1.629108,0.179194,1.638498,2.153756,0.510110,8.165493,3.207746,0.822770,1.191315,1.484742,13.717136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zavier Simpson,G,4.750000,13.000000,0.354250,4.500000,11.000000,0.398359,0.250000,2.000000,0.083250,1.250000,1.250000,0.500000,5.250000,7.500000,1.250000,1.000000,2.500000,11.000000
Zhaire Smith,G,5.500000,10.500000,0.519000,4.000000,6.500000,0.612500,1.500000,4.000000,0.366500,1.500000,2.000000,0.750000,3.000000,3.500000,0.000000,0.000000,1.500000,14.000000
Ziaire Williams,G,5.500000,12.500000,0.433500,4.000000,8.500000,0.442857,1.500000,4.000000,0.433500,2.500000,3.000000,0.750000,4.500000,2.500000,0.000000,0.000000,0.500000,15.000000
Zoran Dragic,G,9.000000,17.000000,0.529000,6.000000,10.000000,0.600000,3.000000,7.000000,0.429000,1.000000,2.000000,0.500000,3.000000,2.000000,2.000000,0.000000,3.000000,22.000000
Zoran Planinic,G,3.400000,8.400000,0.414800,3.000000,7.100000,0.439196,0.400000,1.300000,0.250000,2.100000,2.800000,0.800000,3.900000,2.800000,1.200000,0.000000,2.300000,9.300000

In [84]:
# Avgs for all columns of interest
positions_avgs = positions_stats[['START_POSITION',
                      'FGM', 'FGA', 'FG_PCT', 'FG2M', 'FG2A', 'FG2%',
                      'FG3M', 'FG3A', 'FG3_PCT',
       'FTM', 'FTA', 'FT_PCT',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS']].groupby('START_POSITION').mean()
positions_avgs

,FGM,FGA,FG_PCT,FG2M,FG2A,FG2%,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,REB,AST,STL,BLK,TO,PTS
START_POSITION,,,,,,,,,,,,,,,,,,
C,3.835340,7.728490,0.486804,3.451446,6.546524,0.521523,0.383894,1.181966,0.102941,1.666558,2.404034,0.434977,6.547383,1.410821,0.724185,0.899099,1.280703,9.721133
F,4.004642,8.905477,0.435950,3.091441,6.278653,0.484139,0.913201,2.626824,0.216720,1.642897,2.218295,0.446122,5.054988,1.865214,0.823390,0.549695,1.382878,10.565382
G,4.229947,9.977120,0.406761,3.007793,6.469755,0.452829,1.222154,3.507365,0.281240,1.805376,2.308246,0.479093,3.585011,3.173437,0.997188,0.296047,1.713052,11.487424

In [85]:
# Avgs for fantasy points relevant columns
positions_avgs_fantasy = positions_stats[['START_POSITION',
                      'FGM',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS']].groupby('START_POSITION').mean()
positions_avgs_fantasy

,FGM,REB,AST,STL,BLK,TO,PTS
START_POSITION,,,,,,,
C,3.835340,6.547383,1.410821,0.724185,0.899099,1.280703,9.721133
F,4.004642,5.054988,1.865214,0.823390,0.549695,1.382878,10.565382
G,4.229947,3.585011,3.173437,0.997188,0.296047,1.713052,11.487424

In [86]:
# Creating variables for each positions stats
guards = positions_stats[positions_stats['START_POSITION'] == 'G']
forwards = positions_stats[positions_stats['START_POSITION'] == 'F']
centers = positions_stats[positions_stats['START_POSITION'] == 'C']

Fantasy score - Julia

In [87]:
# Creating dataframe for fantasy score section
fantasy_score = games_details[['PLAYER_NAME',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS']]
fantasy_score

             PLAYER_NAME   REB  AST  STL  BLK   TO   PTS
0         Romeo Langford   2.0  0.0  1.0  0.0  2.0   2.0
1          Jeremy Sochan   9.0  6.0  1.0  0.0  2.0  23.0
2           Jakob Poeltl   4.0  1.0  1.0  0.0  2.0  13.0
3          Devin Vassell   9.0  5.0  3.0  0.0  2.0  10.0
4              Tre Jones   2.0  3.0  0.0  0.0  2.0  19.0
...                  ...   ...  ...  ...  ...  ...   ...
255639        Alonzo Gee   3.0  2.0  2.0  0.0  3.0   4.0
255640  Tristan Thompson  10.0  5.0  1.0  0.0  2.0  12.0
255641  Anderson Varejao  23.0  9.0  0.0  2.0  1.0   9.0
255642      Dion Waiters   2.0  0.0  3.0  0.0  3.0  17.0
255643      Kyrie Irving   6.0  3.0  0.0  1.0  4.0  29.0

[255644 rows x 7 columns]

In [88]:
# Grouping by player so we can get the total amount for each stat
fantasy_score_grouped = fantasy_score.groupby('PLAYER_NAME').sum().reset_index()
fantasy_score_grouped

             PLAYER_NAME     REB     AST    STL    BLK      TO     PTS
0             AJ Griffin    19.0    11.0   12.0    2.0    12.0   116.0
1               AJ Price    66.0   118.0   17.0    1.0    29.0   216.0
2           Aaron Brooks   489.0   915.0  148.0   32.0   470.0  3116.0
3           Aaron Gordon  3448.0  1405.0  404.0  332.0   836.0  7445.0
4             Aaron Gray   536.0    79.0   36.0   33.0    99.0   407.0
...                  ...     ...     ...    ...    ...     ...     ...
1551     Ziaire Williams    89.0    42.0   21.0    1.0    27.0   344.0
1552     Zion Williamson   832.0   418.0  113.0   65.0   326.0  3011.0
1553        Zoran Dragic     3.0     2.0    2.0    0.0     3.0    22.0
1554      Zoran Planinic    39.0    28.0   12.0    0.0    23.0    93.0
1555  Zydrunas Ilgauskas  4467.0   684.0  282.0  935.0  1013.0  7621.0

[1556 rows x 7 columns]

In [89]:
# Creating dataframe with average mins to merge with fantasy_score_grouped
avg_mins = games_details[['PLAYER_NAME','MIN']].groupby('PLAYER_NAME').mean()
avg_mins

                          MIN
PLAYER_NAME
AJ Griffin          30.065000
AJ Price            25.524800
Aaron Brooks        32.466224
Aaron Gordon        30.295326
Aaron Gray          18.590345
...                       ...
Ziaire Williams     25.787353
Zion Williamson     31.256000
Zoran Dragic        40.410000
Zoran Planinic      24.661000
Zydrunas Ilgauskas  28.358062

[1556 rows x 1 columns]

In [90]:
fantasy_merged = pd.merge(fantasy_score_grouped,avg_mins, on='PLAYER_NAME',how='inner')
fantasy_merged

,PLAYER_NAME,REB,AST,STL,BLK,TO,PTS,MIN
0,AJ Griffin,19.0,11.0,12.0,2.0,12.0,116.0,30.065000
1,AJ Price,66.0,118.0,17.0,1.0,29.0,216.0,25.524800
2,Aaron Brooks,489.0,915.0,148.0,32.0,470.0,3116.0,32.466224
3,Aaron Gordon,3448.0,1405.0,404.0,332.0,836.0,7445.0,30.295326
4,Aaron Gray,536.0,79.0,36.0,33.0,99.0,407.0,18.590345
...,...,...,...,...,...,...,...,...
1551,Ziaire Williams,89.0,42.0,21.0,1.0,27.0,344.0,25.787353
1552,Zion Williamson,832.0,418.0,113.0,65.0,326.0,3011.0,31.256000
1553,Zoran Dragic,3.0,2.0,2.0,0.0,3.0,22.0,40.410000
1554,Zoran Planinic,39.0,28.0,12.0,0.0,23.0,93.0,24.661000
1555,Zydrunas Ilgauskas,4467.0,684.0,282.0,935.0,1013.0,7621.0,28.358062

Fantasy points breakdown:
PTS = 1 Points
REB = 1.2 Points
AST = 1.5 Points
STL = 3 Points
BLK = 3 Points
TO = -1 Points

In [91]:
# Function to perform calculations on each column based on fantasy point system
def fantasy_score_calc(df):
    df['REB'] = df['REB'] * 1.2
    df['AST'] = df['AST'] * 1.5
    df['STL'] = df['STL'] * 3
    df['BLK'] = df['BLK'] * 3
    df['TO'] = df['TO'] * -1
    df['PTS'] = df['PTS'] * 1

In [92]:
# Run df through function
fantasy_score_calc(fantasy_score_grouped)

In [93]:
fantasy_score_grouped

             PLAYER_NAME     REB     AST     STL     BLK      TO     PTS
0             AJ Griffin    22.8    16.5    36.0     6.0   -12.0   116.0
1               AJ Price    79.2   177.0    51.0     3.0   -29.0   216.0
2           Aaron Brooks   586.8  1372.5   444.0    96.0  -470.0  3116.0
3           Aaron Gordon  4137.6  2107.5  1212.0   996.0  -836.0  7445.0
4             Aaron Gray   643.2   118.5   108.0    99.0   -99.0   407.0
...                  ...     ...     ...     ...     ...     ...     ...
1551     Ziaire Williams   106.8    63.0    63.0     3.0   -27.0   344.0
1552     Zion Williamson   998.4   627.0   339.0   195.0  -326.0  3011.0
1553        Zoran Dragic     3.6     3.0     6.0     0.0    -3.0    22.0
1554      Zoran Planinic    46.8    42.0    36.0     0.0   -23.0    93.0
1555  Zydrunas Ilgauskas  5360.4  1026.0   846.0  2805.0 -1013.0  7621.0

[1556 rows x 7 columns]

In [94]:
# Function to perform total points
def total_pts_calc(df):
    df['Fantasy_Score'] = df[
    'REB'] + df['AST'] + df[
        'AST'] + df['STL'] + df[
            'BLK'] + df['TO'] + df['PTS']

In [95]:
total_pts_calc(fantasy_score_grouped)

In [96]:
fantasy_score_grouped

,PLAYER_NAME,REB,AST,STL,BLK,TO,PTS,Fantasy_Score
0,AJ Griffin,22.8,16.5,36.0,6.0,-12.0,116.0,201.8
1,AJ Price,79.2,177.0,51.0,3.0,-29.0,216.0,674.2
2,Aaron Brooks,586.8,1372.5,444.0,96.0,-470.0,3116.0,6517.8
3,Aaron Gordon,4137.6,2107.5,1212.0,996.0,-836.0,7445.0,17169.6
4,Aaron Gray,643.2,118.5,108.0,99.0,-99.0,407.0,1395.2
...,...,...,...,...,...,...,...,...
1551,Ziaire Williams,106.8,63.0,63.0,3.0,-27.0,344.0,615.8
1552,Zion Williamson,998.4,627.0,339.0,195.0,-326.0,3011.0,5471.4
1553,Zoran Dragic,3.6,3.0,6.0,0.0,-3.0,22.0,34.6
1554,Zoran Planinic,46.8,42.0,36.0,0.0,-23.0,93.0,236.8
1555,Zydrunas Ilgauskas,5360.4,1026.0,846.0,2805.0,-1013.0,7621.0,17671.4

In [97]:
# Find players with highest fantasy score
best_fantasy_players = fantasy_score_grouped.sort_values(
    by='Fantasy_Score', ascending=False)
best_fantasy_players.head(12)

,PLAYER_NAME,REB,AST,STL,BLK,TO,PTS,Fantasy_Score
947,LeBron James,15511.2,18364.5,7950.0,3945.0,-5910.0,45759.0,103984.2
254,Chris Paul,7306.8,18855.0,8418.0,612.0,-3265.0,24382.0,75163.8
1299,Russell Westbrook,10144.8,14443.5,5724.0,1032.0,-4712.0,26294.0,67369.8
887,Kevin Durant,9812.4,7377.0,3690.0,3891.0,-3632.0,31530.0,60045.4
653,James Harden,6562.8,10654.5,4464.0,1614.0,-3870.0,24761.0,54840.8
446,Dwyane Wade,6435.6,9102.0,5328.0,2955.0,-3627.0,25408.0,54703.6
1380,Stephen Curry,5814.0,9831.0,4980.0,735.0,-3224.0,25142.0,53109.0
419,Dirk Nowitzki,11455.2,4638.0,2841.0,3051.0,-2075.0,26876.0,51424.2
212,Carmelo Anthony,9525.6,5233.5,3768.0,1788.0,-3190.0,28680.0,51038.6
444,Dwight Howard,17912.4,2581.5,3336.0,7014.0,-3450.0,20341.0,50316.4
908,Kobe Bryant,6307.2,7356.0,4302.0,1149.0,-3080.0,26615.0,50005.2
1426,Tim Duncan,13759.2,4897.5,2367.0,6732.0,-2362.0,19627.0,49918.2

In [46]:
# Addings mins as well to last dataframe
best_fantasy_players = pd.merge(best_fantasy_players,avg_mins,on='PLAYER_NAME',how='inner')
best_fantasy_players

,PLAYER_NAME,REB,AST,STL,BLK,TO,PTS,Fantasy_Score,MIN
0,LeBron James,15511.2,18364.5,7950.0,3945.0,-5910.0,45759.0,103984.2,38.182684
1,Chris Paul,7306.8,18855.0,8418.0,612.0,-3265.0,24382.0,75163.8,34.301826
2,Russell Westbrook,10144.8,14443.5,5724.0,1032.0,-4712.0,26294.0,67369.8,34.562502
3,Kevin Durant,9812.4,7377.0,3690.0,3891.0,-3632.0,31530.0,60045.4,36.771094
4,James Harden,6562.8,10654.5,4464.0,1614.0,-3870.0,24761.0,54840.8,36.553659
...,...,...,...,...,...,...,...,...,...
1551,Alen Smailagic,0.0,0.0,0.0,0.0,-0.0,3.0,3.0,8.040000
1552,Bobby Brown,0.0,1.5,0.0,0.0,-2.0,2.0,3.0,15.250000
1553,Justin Williams,2.4,0.0,0.0,0.0,-1.0,0.0,1.4,8.070000
1554,Avery Johnson,1.2,0.0,0.0,0.0,-0.0,0.0,1.2,8.130000
1555,Patrick Christopher,1.2,0.0,0.0,0.0,-1.0,0.0,0.2,5.270000

The above dataframe includes every season, so the players who have been in the league the longest (and are good) will ultimately have the most points.

So let's break it down by season...

In [48]:
# Creating dataframe for fantasy score section (by season)
fantasy_score_szns = games_details[['PLAYER_NAME',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS','SEASON']]
fantasy_score_szns.sort_values('SEASON')

             PLAYER_NAME   REB  AST  STL  BLK   TO   PTS  SEASON
114479      Jeff McInnis   3.0  4.0  2.0  0.0  1.0  14.0    2003
115397      David Wesley   0.0  3.0  0.0  0.0  1.0   5.0    2003
115396   Jamaal Magloire  10.0  0.0  0.0  0.0  7.0  17.0    2003
115395        P.J. Brown  13.0  0.0  0.0  0.0  1.0  16.0    2003
115394      George Lynch   6.0  0.0  0.0  0.0  0.0   4.0    2003
...                  ...   ...  ...  ...  ...  ...   ...     ...
3616         Evan Mobley   7.0  2.0  0.0  0.0  3.0  15.0    2022
3617       Jarrett Allen  14.0  0.0  0.0  2.0  3.0  14.0    2022
3618    Donovan Mitchell   4.0  6.0  1.0  2.0  0.0  25.0    2022
3610        Jaylen Brown   8.0  4.0  1.0  0.0  3.0  30.0    2022
0         Romeo Langford   2.0  0.0  1.0  0.0  2.0   2.0    2022

[255644 rows x 8 columns]

In [103]:
def szn_stats(df,year):
    szn = df[df['SEASON']==year]
    szn_grouped = szn.groupby(['SEASON','PLAYER_NAME']).sum().reset_index()
    szn_df =fantasy_score_calc(szn_grouped)

In [104]:
szn_stats(fantasy_score_szns,2022)

In [105]:
fantasy_score_szns

             PLAYER_NAME   REB  AST  STL  BLK   TO   PTS  SEASON
0         Romeo Langford   2.0  0.0  1.0  0.0  2.0   2.0    2022
1          Jeremy Sochan   9.0  6.0  1.0  0.0  2.0  23.0    2022
2           Jakob Poeltl   4.0  1.0  1.0  0.0  2.0  13.0    2022
3          Devin Vassell   9.0  5.0  3.0  0.0  2.0  10.0    2022
4              Tre Jones   2.0  3.0  0.0  0.0  2.0  19.0    2022
...                  ...   ...  ...  ...  ...  ...   ...     ...
255639        Alonzo Gee   3.0  2.0  2.0  0.0  3.0   4.0    2012
255640  Tristan Thompson  10.0  5.0  1.0  0.0  2.0  12.0    2012
255641  Anderson Varejao  23.0  9.0  0.0  2.0  1.0   9.0    2012
255642      Dion Waiters   2.0  0.0  3.0  0.0  3.0  17.0    2012
255643      Kyrie Irving   6.0  3.0  0.0  1.0  4.0  29.0    2012

[255644 rows x 8 columns]

In [51]:
# Limiting data to 2022 season
fantasy_score_22 = fantasy_score_szns[fantasy_score_szns['SEASON']==2022]

# Grouping by player so we can get the total amount for each stat
fantasy_score_grouped_22 = fantasy_score_22.groupby(['SEASON','PLAYER_NAME']).sum().reset_index()
fantasy_score_grouped_22

fantasy_score_grouped_22

     SEASON        PLAYER_NAME    REB    AST   STL   BLK    TO    PTS
0      2022         AJ Griffin   19.0   11.0  12.0   2.0  12.0  116.0
1      2022       Aaron Gordon  199.0   67.0  29.0  23.0  47.0  513.0
2      2022      Aaron Holiday    7.0    6.0   5.0   0.0   2.0   13.0
3      2022      Aaron Nesmith   67.0   17.0  15.0  10.0  18.0  160.0
4      2022      Aaron Wiggins   37.0   16.0   7.0   2.0   6.0   70.0
..      ...                ...    ...    ...   ...   ...   ...    ...
347    2022  Willy Hernangomez    7.0    1.0   1.0   0.0   4.0   17.0
348    2022       Zach Collins   44.0   24.0   4.0   2.0  22.0   62.0
349    2022        Zach LaVine  124.0  124.0  33.0   1.0  79.0  613.0
350    2022    Ziaire Williams    5.0    2.0   0.0   0.0   1.0   11.0
351    2022    Zion Williamson  195.0  129.0  33.0  16.0  85.0  674.0

[352 rows x 8 columns]