Considerations when making a fantasy team!

Do the best teams (teams with highest winning %) in the NBA have the best players
(determined by most fantasy points)?
Do the best teams in the NBA have the most fantasy points collectively?
Does the western or eastern conference get more fantasy points?
Are fantasy points higher for home games vs. away games?
Does one category get more fantasy points?
Have fantasy points increased over the years?
Is fantasy score in one year predictive of fantasy score in the next year?
Is the number of minutes predictive of a higher fantasy score? Or is starting more important?
Do starters get more points than non-starters?
Is plus-minus predictive of fantasy points?
What things do fantasy points not account for? (offensive rebounds, shooting percent)
Is there a way to predict for injury? Are some players more prone? If so should those player be avoided as top picks in fantasy? Is there an average amount of time out due to injury that can be used to determine if a given player falls above that amount?
Are fantasy players really the best players? What other metrics are important?
Is there a way to maximize the schedule so that your roster actually plays more games?
Comparing players? Maybe there are two players are similiar, what metrics can we use to determine which one would be better given the team you already have?
Veterans vs. rookies?
Experience? Does number of games played (over time) result in better players?

Problems!

Number of games per season doesn't seem right... (but maybe I need a different way of calculating season, I took 'Season' = 2022, as the entire 2022 season, but maybe it's actually just 2022, opposed to 2021-2022... Could probably use 'GAME_DATE_EST' to look into this)

Minutes wacky! Regex as a fix?

In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [17]:
# Creatings paths for csvs
games_details_path = Path("/Users/juliaolson/Data-Analytics-Bootcamp/Projects/Project3/project3_nba_de/data/games_details.csv")
games_path = Path("/Users/juliaolson/Data-Analytics-Bootcamp/Projects/Project3/project3_nba_de/data/games.csv")
teams_path = Path("/Users/juliaolson/Data-Analytics-Bootcamp/Projects/Project3/project3_nba_de/data/players.csv")
players_path = Path("/Users/juliaolson/Data-Analytics-Bootcamp/Projects/Project3/project3_nba_de/data/teams.csv")
ranking_path = Path("/Users/juliaolson/Data-Analytics-Bootcamp/Projects/Project3/project3_nba_de/data/ranking.csv")

In [18]:
# Creating dataframes
games_details = pd.read_csv(games_details_path)
games = pd.read_csv(games_path)
teams = pd.read_csv(teams_path)
players = pd.read_csv(players_path)
ranking = pd.read_csv(ranking_path)

/var/folders/bb/4gpn5xfn0dqcx7v7w_7s2llc0000gn/T/ipykernel_22631/3756664733.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv(games_details_path)

In [19]:
ranking

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
210337,1610612765,0,22013,2014-09-01,East,Detroit,82,29,53,0.354,17-24,12-29,NaN
210338,1610612738,0,22013,2014-09-01,East,Boston,82,25,57,0.305,16-25,9-32,NaN
210339,1610612753,0,22013,2014-09-01,East,Orlando,82,23,59,0.280,19-22,4-37,NaN
210340,1610612755,0,22013,2014-09-01,East,Philadelphia,82,19,63,0.232,10-31,9-32,NaN
210341,1610612749,0,22013,2014-09-01,East,Milwaukee,82,15,67,0.183,10-31,5-36,NaN

In [28]:
ranking['COMP_KEY'] = ranking["TEAM_ID"].astype(str) + ranking['STANDINGSDATE']
pd.DataFrame(ranking['COMP_KEY'].value_counts()).head(50)

                      count
COMP_KEY
16106127442020-12-28      2
16106127632020-12-29      2
16106127522020-12-28      2
16106127492020-12-28      2
16106127662020-12-28      2
16106127382020-12-28      2
16106127602020-12-30      2
16106127482020-12-29      2
16106127662020-12-29      2
16106127452020-12-31      2
16106127502020-12-20      2
16106127452021-01-01      2
16106127642020-12-21      2
16106127412021-01-01      2
16106127502020-12-21      2
16106127602020-12-21      2
16106127642020-12-20      2
16106127422020-12-29      2
16106127602020-12-20      2
16106127602020-12-29      2
16106127382020-12-27      2
16106127632020-12-28      2
16106127422020-12-28      2
16106127442020-12-27      2
16106127522020-12-27      2
16106127662020-12-27      2
16106127492020-12-27      2
16106127422020-12-27      2
16106127432020-12-28      2
16106127642011-04-16      1
16106127652011-04-17      1
16106127512011-04-17      1
16106127642011-04-17      1
16106127612011-04-17      1
16106127392011-04-17      1
16106127412011-04-16      1
16106127482011-04-16      1
16106127382011-04-16      1
16106127542011-04-16      1
16106127552011-04-16      1
16106127532011-04-16      1
16106127652011-04-16      1
16106127662011-04-17      1
16106127662011-04-16      1
16106127492011-04-16      1
16106127372011-04-16      1
16106127522011-04-16      1
16106127512011-04-16      1
16106127482011-04-12      1
16106127492011-04-17      1

In [24]:
ranking[ranking['COMP_KEY']=='16106127442020-12-28']

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY,COMP_KEY
19302,1610612744,0,22020,2020-12-28,West,Golden State,3,1,2,0.333,0-0,1-2,NaN,16106127442020-12-28
20948,1610612744,0,22020,2020-12-28,West,Golden State,3,1,2,0.333,0-0,1-2,NaN,16106127442020-12-28

In [4]:
# Display games_details dataframe
games_details

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [5]:
# Display games dataframe
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [30]:
games['SEASON'].unique()

array([2022, 2021, 2020, 2019, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2018, 2017, 2016, 2015, 2014])

In [33]:
games['GAME_DATE_EST']

0        2022-12-22
1        2022-12-22
2        2022-12-21
3        2022-12-21
4        2022-12-21
            ...
26646    2014-10-06
26647    2014-10-06
26648    2014-10-06
26649    2014-10-05
26650    2014-10-04
Name: GAME_DATE_EST, Length: 26651, dtype: object

In [44]:
games[(games['SEASON'] == 2022) | (games['SEASON'] == 2021)]['GAME_DATE_EST'].unique()

array(['2022-12-22', '2022-12-21', '2022-12-20', '2022-12-19',
       '2022-12-18', '2022-12-17', '2022-12-16', '2022-12-15',
       '2022-12-14', '2022-12-13', '2022-12-12', '2022-12-11',
       '2022-12-10', '2022-12-09', '2022-12-08', '2022-12-07',
       '2022-12-06', '2022-12-05', '2022-12-04', '2022-12-03',
       '2022-12-02', '2022-12-01', '2022-11-30', '2022-11-29',
       '2022-11-28', '2022-11-27', '2022-11-26', '2022-11-25',
       '2022-11-23', '2022-11-22', '2022-11-21', '2022-11-20',
       '2022-11-19', '2022-11-18', '2022-11-17', '2022-11-16',
       '2022-11-15', '2022-11-14', '2022-11-13', '2022-11-12',
       '2022-11-11', '2022-11-10', '2022-11-09', '2022-11-07',
       '2022-11-06', '2022-11-05', '2022-11-04', '2022-11-03',
       '2022-11-02', '2022-11-01', '2022-10-31', '2022-10-30',
       '2022-10-29', '2022-10-28', '2022-10-27', '2022-10-26',
       '2022-10-25', '2022-10-24', '2022-10-23', '2022-10-22',
       '2022-10-21', '2022-10-20', '2022-10-19', '2022-10-18',
       '2022-10-14', '2022-10-13', '2022-10-12', '2022-10-11',
       '2022-10-10', '2022-10-09', '2022-10-08', '2022-10-07',
       '2022-10-06', '2022-10-05', '2022-10-04', '2022-10-03',
       '2022-10-02', '2022-10-01', '2022-09-30', '2022-06-16',
       '2022-06-13', '2022-06-10', '2022-06-08', '2022-06-05',
       '2022-06-02', '2022-05-29', '2022-05-27', '2022-05-26',
       '2022-05-25', '2022-05-24', '2022-05-23', '2022-05-22',
       '2022-05-21', '2022-05-20', '2022-05-19', '2022-05-18',
       '2022-05-17', '2022-05-15', '2022-05-13', '2022-05-12',
       '2022-05-11', '2022-05-10', '2022-05-09', '2022-05-08',
       '2022-05-07', '2022-05-06', '2022-05-04', '2022-05-03',
       '2022-05-02', '2022-05-01', '2022-04-29', '2022-04-28',
       '2022-04-27', '2022-04-26', '2022-04-25', '2022-04-24',
       '2022-04-23', '2022-04-22', '2022-04-21', '2022-04-20',
       '2022-04-19', '2022-04-18', '2022-04-17', '2022-04-16',
       '2022-04-15', '2022-04-13', '2022-04-12', '2022-04-10',
       '2022-04-09', '2022-04-08', '2022-04-07', '2022-04-06',
       '2022-04-05', '2022-04-03', '2022-04-02', '2022-04-01',
       '2022-03-31', '2022-03-30', '2022-03-29', '2022-03-28',
       '2022-03-27', '2022-03-26', '2022-03-25', '2022-03-24',
       '2022-03-23', '2022-03-22', '2022-03-21', '2022-03-20',
       '2022-03-19', '2022-03-18', '2022-03-17', '2022-03-16',
       '2022-03-15', '2022-03-14', '2022-03-13', '2022-03-12',
       '2022-03-11', '2022-03-10', '2022-03-09', '2022-03-08',
       '2022-03-07', '2022-03-06', '2022-03-05', '2022-03-04',
       '2022-03-03', '2022-03-02', '2022-03-01', '2022-02-28',
       '2022-02-27', '2022-02-26', '2022-02-25', '2022-02-24',
       '2022-02-17', '2022-02-16', '2022-02-15', '2022-02-14',
       '2022-02-13', '2022-02-12', '2022-02-11', '2022-02-10',
       '2022-02-09', '2022-02-08', '2022-02-07', '2022-02-06',
       '2022-02-05', '2022-02-04', '2022-02-03', '2022-02-02',
       '2022-02-01', '2022-01-31', '2022-01-30', '2022-01-29',
       '2022-01-28', '2022-01-27', '2022-01-26', '2022-01-25',
       '2022-01-24', '2022-01-23', '2022-01-22', '2022-01-21',
       '2022-01-20', '2022-01-19', '2022-01-18', '2022-01-17',
       '2022-01-16', '2022-01-15', '2022-01-14', '2022-01-13',
       '2022-01-12', '2022-01-11', '2022-01-10', '2022-01-09',
       '2022-01-08', '2022-01-07', '2022-01-06', '2022-01-05',
       '2022-01-04', '2022-01-03', '2022-01-02', '2022-01-01',
       '2021-12-31', '2021-12-30', '2021-12-29', '2021-12-28',
       '2021-12-27', '2021-12-26', '2021-12-25', '2021-12-23',
       '2021-12-22', '2021-12-21', '2021-12-20', '2021-12-19',
       '2021-12-18', '2021-12-17', '2021-12-16', '2021-12-15',
       '2021-12-14', '2021-12-13', '2021-12-12', '2021-12-11',
       '2021-12-10', '2021-12-09', '2021-12-08', '2021-12-07',
       '2021-12-06', '2021-12-05', '2021-12-04', '2021-12-03',
       '2021-12-02', '2021-12-01', '2021-11-30', '2021-11-29',
       '2021-11-28', '2021-11-27', '2021-11-26', '2021-11-24',
       '2021-11-23', '2021-11-22', '2021-11-21', '2021-11-20',
       '2021-11-19', '2021-11-18', '2021-11-17', '2021-11-16',
       '2021-11-15', '2021-11-14', '2021-11-13', '2021-11-12',
       '2021-11-11', '2021-11-10', '2021-11-09', '2021-11-08',
       '2021-11-07', '2021-11-06', '2021-11-05', '2021-11-04',
       '2021-11-03', '2021-11-02', '2021-11-01', '2021-10-31',
       '2021-10-30', '2021-10-29', '2021-10-28', '2021-10-27',
       '2021-10-26', '2021-10-25', '2021-10-24', '2021-10-23',
       '2021-10-22', '2021-10-21', '2021-10-20', '2021-10-19',
       '2021-10-15', '2021-10-14', '2021-10-13', '2021-10-12',
       '2021-10-11', '2021-10-10', '2021-10-09', '2021-10-08',
       '2021-10-07', '2021-10-06', '2021-10-05', '2021-10-04',
       '2021-10-03'], dtype=object)

In [46]:
szn_2021 = games[games['SEASON']==2021]
szn_2021

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
542,2022-06-16,42100406,Final,1610612738,1610612744,2021,1610612738,90.0,0.425,0.917,...,27.0,41.0,1610612744,103.0,0.413,1.000,0.413,27.0,44.0,0
543,2022-06-13,42100405,Final,1610612744,1610612738,2021,1610612744,104.0,0.466,0.867,...,23.0,39.0,1610612738,94.0,0.413,0.677,0.344,18.0,47.0,1
544,2022-06-10,42100404,Final,1610612738,1610612744,2021,1610612738,97.0,0.400,0.737,...,22.0,42.0,1610612744,107.0,0.440,0.800,0.349,20.0,55.0,0
545,2022-06-08,42100403,Final,1610612738,1610612744,2021,1610612738,116.0,0.483,0.708,...,28.0,47.0,1610612744,100.0,0.462,0.867,0.375,22.0,31.0,1
546,2022-06-05,42100402,Final,1610612744,1610612738,2021,1610612744,107.0,0.453,0.700,...,25.0,42.0,1610612738,88.0,0.375,0.765,0.405,24.0,43.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,2021-10-04,12100007,Final,1610612759,1610612762,2021,1610612759,111.0,0.465,0.760,...,22.0,60.0,1610612762,85.0,0.317,0.600,0.233,14.0,47.0,1
1927,2021-10-04,12100008,Final,1610612757,1610612744,2021,1610612757,107.0,0.446,0.773,...,21.0,53.0,1610612744,121.0,0.420,0.765,0.348,32.0,47.0,0
1928,2021-10-04,12100009,Final,1610612758,1610612756,2021,1610612758,117.0,0.473,0.684,...,22.0,51.0,1610612756,106.0,0.467,0.846,0.314,24.0,38.0,1
1929,2021-10-04,12100010,Final,1610612746,1610612743,2021,1610612746,103.0,0.432,0.760,...,26.0,52.0,1610612743,102.0,0.430,0.621,0.270,20.0,45.0,1
1930,2021-10-03,12100001,Final,1610612747,1610612751,2021,1610612747,97.0,0.364,0.688,...,17.0,41.0,1610612751,123.0,0.483,0.725,0.417,20.0,54.0,0

In [48]:
len(szn_2021[szn_2021['HOME_TEAM_ID']==1610612738])

55

In [ ]:
2021-12-19
2022-04-10

In [36]:
ranking[['SEASON_ID','STANDINGSDATE']]

        SEASON_ID STANDINGSDATE
0           22022    2022-12-22
1           22022    2022-12-22
2           22022    2022-12-22
3           22022    2022-12-22
4           22022    2022-12-22
...           ...           ...
210337      22013    2014-09-01
210338      22013    2014-09-01
210339      22013    2014-09-01
210340      22013    2014-09-01
210341      22013    2014-09-01

[210342 rows x 2 columns]

In [49]:
ranking[['SEASON_ID','STANDINGSDATE']][ranking[['SEASON_ID','STANDINGSDATE']]['SEASON_ID']==22021]

       SEASON_ID STANDINGSDATE
1260       22021    2022-09-29
1261       22021    2022-09-29
1262       22021    2022-09-29
1263       22021    2022-09-29
1264       22021    2022-09-29
...          ...           ...
15070      22021    2021-10-19
15071      22021    2021-10-19
15072      22021    2021-10-19
15073      22021    2021-10-19
15074      22021    2021-10-19

[10380 rows x 2 columns]

In [50]:
ranking[['SEASON_ID','STANDINGSDATE']][ranking[['SEASON_ID','STANDINGSDATE']]['SEASON_ID']==22021]['STANDINGSDATE'].unique()

array(['2022-09-29', '2022-09-28', '2022-09-27', '2022-09-26',
       '2022-09-25', '2022-09-24', '2022-09-23', '2022-09-22',
       '2022-09-21', '2022-09-20', '2022-09-19', '2022-09-18',
       '2022-09-17', '2022-09-16', '2022-09-15', '2022-09-14',
       '2022-09-13', '2022-09-12', '2022-09-11', '2022-09-10',
       '2022-09-09', '2022-09-08', '2022-09-07', '2022-09-06',
       '2022-09-05', '2022-09-04', '2022-09-03', '2022-09-02',
       '2022-09-01', '2022-08-31', '2022-08-30', '2022-08-29',
       '2022-08-28', '2022-08-27', '2022-08-26', '2022-08-25',
       '2022-08-24', '2022-08-23', '2022-08-22', '2022-08-21',
       '2022-08-20', '2022-08-19', '2022-08-18', '2022-08-17',
       '2022-08-16', '2022-08-15', '2022-08-14', '2022-08-13',
       '2022-08-12', '2022-08-11', '2022-08-10', '2022-08-09',
       '2022-08-08', '2022-08-07', '2022-08-06', '2022-08-05',
       '2022-08-04', '2022-08-03', '2022-08-02', '2022-08-01',
       '2022-07-31', '2022-07-30', '2022-07-29', '2022-07-28',
       '2022-07-27', '2022-07-26', '2022-07-25', '2022-07-24',
       '2022-07-23', '2022-07-22', '2022-07-21', '2022-07-20',
       '2022-07-19', '2022-07-18', '2022-07-17', '2022-07-16',
       '2022-07-15', '2022-07-14', '2022-07-13', '2022-07-12',
       '2022-07-11', '2022-07-10', '2022-07-09', '2022-07-08',
       '2022-07-07', '2022-07-06', '2022-07-05', '2022-07-04',
       '2022-07-03', '2022-07-02', '2022-07-01', '2022-06-30',
       '2022-06-29', '2022-06-28', '2022-06-27', '2022-06-26',
       '2022-06-25', '2022-06-24', '2022-06-23', '2022-06-22',
       '2022-06-21', '2022-06-20', '2022-06-19', '2022-06-18',
       '2022-06-17', '2022-06-16', '2022-06-15', '2022-06-14',
       '2022-06-13', '2022-06-12', '2022-06-11', '2022-06-10',
       '2022-06-09', '2022-06-08', '2022-06-07', '2022-06-06',
       '2022-06-05', '2022-06-04', '2022-06-03', '2022-06-02',
       '2022-06-01', '2022-05-31', '2022-05-30', '2022-05-29',
       '2022-05-28', '2022-05-27', '2022-05-26', '2022-05-25',
       '2022-05-24', '2022-05-23', '2022-05-22', '2022-05-21',
       '2022-05-20', '2022-05-19', '2022-05-18', '2022-05-17',
       '2022-05-16', '2022-05-15', '2022-05-14', '2022-05-13',
       '2022-05-12', '2022-05-11', '2022-05-10', '2022-05-09',
       '2022-05-08', '2022-05-07', '2022-05-06', '2022-05-05',
       '2022-05-04', '2022-05-03', '2022-05-02', '2022-05-01',
       '2022-04-30', '2022-04-29', '2022-04-28', '2022-04-27',
       '2022-04-26', '2022-04-25', '2022-04-24', '2022-04-23',
       '2022-04-22', '2022-04-21', '2022-04-20', '2022-04-19',
       '2022-04-18', '2022-04-17', '2022-04-16', '2022-04-15',
       '2022-04-14', '2022-04-13', '2022-04-12', '2022-04-11',
       '2022-04-10', '2022-04-09', '2022-04-08', '2022-04-07',
       '2022-04-06', '2022-04-05', '2022-04-04', '2022-04-03',
       '2022-04-02', '2022-04-01', '2022-03-31', '2022-03-30',
       '2022-03-29', '2022-03-28', '2022-03-27', '2022-03-26',
       '2022-03-25', '2022-03-24', '2022-03-23', '2022-03-22',
       '2022-03-21', '2022-03-20', '2022-03-19', '2022-03-18',
       '2022-03-17', '2022-03-16', '2022-03-15', '2022-03-14',
       '2022-03-13', '2022-03-12', '2022-03-11', '2022-03-10',
       '2022-03-09', '2022-03-08', '2022-03-07', '2022-03-06',
       '2022-03-05', '2022-03-04', '2022-03-03', '2022-03-02',
       '2022-03-01', '2022-02-28', '2022-02-27', '2022-02-26',
       '2022-02-25', '2022-02-24', '2022-02-23', '2022-02-22',
       '2022-02-21', '2022-02-20', '2022-02-19', '2022-02-18',
       '2022-02-17', '2022-02-16', '2022-02-15', '2022-02-14',
       '2022-02-13', '2022-02-12', '2022-02-11', '2022-02-10',
       '2022-02-09', '2022-02-08', '2022-02-07', '2022-02-06',
       '2022-02-05', '2022-02-04', '2022-02-03', '2022-02-02',
       '2022-02-01', '2022-01-31', '2022-01-30', '2022-01-29',
       '2022-01-28', '2022-01-27', '2022-01-26', '2022-01-25',
       '2022-01-24', '2022-01-23', '2022-01-22', '2022-01-21',
       '2022-01-20', '2022-01-19', '2022-01-18', '2022-01-17',
       '2022-01-16', '2022-01-15', '2022-01-14', '2022-01-13',
       '2022-01-12', '2022-01-11', '2022-01-10', '2022-01-09',
       '2022-01-08', '2022-01-07', '2022-01-06', '2022-01-05',
       '2022-01-04', '2022-01-03', '2022-01-02', '2022-01-01',
       '2021-12-31', '2021-12-30', '2021-12-29', '2021-12-28',
       '2021-12-27', '2021-12-26', '2021-12-25', '2021-12-24',
       '2021-12-23', '2021-12-22', '2021-12-21', '2021-12-20',
       '2021-12-19', '2021-12-18', '2021-12-17', '2021-12-16',
       '2021-12-15', '2021-12-14', '2021-12-13', '2021-12-12',
       '2021-12-11', '2021-12-10', '2021-12-09', '2021-12-08',
       '2021-12-07', '2021-12-06', '2021-12-05', '2021-12-04',
       '2021-12-03', '2021-12-02', '2021-12-01', '2021-11-30',
       '2021-11-29', '2021-11-28', '2021-11-27', '2021-11-26',
       '2021-11-25', '2021-11-24', '2021-11-23', '2021-11-22',
       '2021-11-21', '2021-11-20', '2021-11-19', '2021-11-18',
       '2021-11-17', '2021-11-16', '2021-11-15', '2021-11-14',
       '2021-11-13', '2021-11-12', '2021-11-11', '2021-11-10',
       '2021-11-09', '2021-11-08', '2021-11-07', '2021-11-06',
       '2021-11-05', '2021-11-04', '2021-11-03', '2021-11-02',
       '2021-11-01', '2021-10-31', '2021-10-30', '2021-10-29',
       '2021-10-28', '2021-10-27', '2021-10-26', '2021-10-25',
       '2021-10-24', '2021-10-23', '2021-10-22', '2021-10-21',
       '2021-10-20', '2021-10-19'], dtype=object)

In [54]:
# Assuming df is your DataFrame and 'date' is the column containing date strings
ranking['STANDINGSDATE'] = pd.to_datetime(ranking['STANDINGSDATE'])
ranking.dtypes

TEAM_ID                   int64
LEAGUE_ID                 int64
SEASON_ID                 int64
STANDINGSDATE    datetime64[ns]
CONFERENCE               object
TEAM                     object
G                         int64
W                         int64
L                         int64
W_PCT                   float64
HOME_RECORD              object
ROAD_RECORD              object
RETURNTOPLAY            float64
COMP_KEY                 object
dtype: object

In [69]:
# Assuming df is your DataFrame and 'date' is the column containing datetime values
# Create a date range to filter
start_date = pd.to_datetime('2021-12-19')
end_date = pd.to_datetime('2022-04-10')

# Filter the DataFrame based on the date range
rankings_2021_2022 = ranking[(ranking['STANDINGSDATE'] >= start_date) & (ranking['STANDINGSDATE'] <= end_date)]
szn_2021_2022_array = list(rankings_2021_2022['STANDINGSDATE'].unique())
szn_2021_2022_array

[Timestamp('2022-04-10 00:00:00'),
 Timestamp('2022-04-09 00:00:00'),
 Timestamp('2022-04-08 00:00:00'),
 Timestamp('2022-04-07 00:00:00'),
 Timestamp('2022-04-06 00:00:00'),
 Timestamp('2022-04-05 00:00:00'),
 Timestamp('2022-04-04 00:00:00'),
 Timestamp('2022-04-03 00:00:00'),
 Timestamp('2022-04-02 00:00:00'),
 Timestamp('2022-04-01 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-03-30 00:00:00'),
 Timestamp('2022-03-29 00:00:00'),
 Timestamp('2022-03-28 00:00:00'),
 Timestamp('2022-03-27 00:00:00'),
 Timestamp('2022-03-26 00:00:00'),
 Timestamp('2022-03-25 00:00:00'),
 Timestamp('2022-03-24 00:00:00'),
 Timestamp('2022-03-23 00:00:00'),
 Timestamp('2022-03-22 00:00:00'),
 Timestamp('2022-03-21 00:00:00'),
 Timestamp('2022-03-20 00:00:00'),
 Timestamp('2022-03-19 00:00:00'),
 Timestamp('2022-03-18 00:00:00'),
 Timestamp('2022-03-17 00:00:00'),
 Timestamp('2022-03-16 00:00:00'),
 Timestamp('2022-03-15 00:00:00'),
 Timestamp('2022-03-14 00:00:00'),
 Timestamp('2022-03-13 00:00:00'),
 Timestamp('2022-03-12 00:00:00'),
 Timestamp('2022-03-11 00:00:00'),
 Timestamp('2022-03-10 00:00:00'),
 Timestamp('2022-03-09 00:00:00'),
 Timestamp('2022-03-08 00:00:00'),
 Timestamp('2022-03-07 00:00:00'),
 Timestamp('2022-03-06 00:00:00'),
 Timestamp('2022-03-05 00:00:00'),
 Timestamp('2022-03-04 00:00:00'),
 Timestamp('2022-03-03 00:00:00'),
 Timestamp('2022-03-02 00:00:00'),
 Timestamp('2022-03-01 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-02-27 00:00:00'),
 Timestamp('2022-02-26 00:00:00'),
 Timestamp('2022-02-25 00:00:00'),
 Timestamp('2022-02-24 00:00:00'),
 Timestamp('2022-02-23 00:00:00'),
 Timestamp('2022-02-22 00:00:00'),
 Timestamp('2022-02-21 00:00:00'),
 Timestamp('2022-02-20 00:00:00'),
 Timestamp('2022-02-19 00:00:00'),
 Timestamp('2022-02-18 00:00:00'),
 Timestamp('2022-02-17 00:00:00'),
 Timestamp('2022-02-16 00:00:00'),
 Timestamp('2022-02-15 00:00:00'),
 Timestamp('2022-02-14 00:00:00'),
 Timestamp('2022-02-13 00:00:00'),
 Timestamp('2022-02-12 00:00:00'),
 Timestamp('2022-02-11 00:00:00'),
 Timestamp('2022-02-10 00:00:00'),
 Timestamp('2022-02-09 00:00:00'),
 Timestamp('2022-02-08 00:00:00'),
 Timestamp('2022-02-07 00:00:00'),
 Timestamp('2022-02-06 00:00:00'),
 Timestamp('2022-02-05 00:00:00'),
 Timestamp('2022-02-04 00:00:00'),
 Timestamp('2022-02-03 00:00:00'),
 Timestamp('2022-02-02 00:00:00'),
 Timestamp('2022-02-01 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-01-30 00:00:00'),
 Timestamp('2022-01-29 00:00:00'),
 Timestamp('2022-01-28 00:00:00'),
 Timestamp('2022-01-27 00:00:00'),
 Timestamp('2022-01-26 00:00:00'),
 Timestamp('2022-01-25 00:00:00'),
 Timestamp('2022-01-24 00:00:00'),
 Timestamp('2022-01-23 00:00:00'),
 Timestamp('2022-01-22 00:00:00'),
 Timestamp('2022-01-21 00:00:00'),
 Timestamp('2022-01-20 00:00:00'),
 Timestamp('2022-01-19 00:00:00'),
 Timestamp('2022-01-18 00:00:00'),
 Timestamp('2022-01-17 00:00:00'),
 Timestamp('2022-01-16 00:00:00'),
 Timestamp('2022-01-15 00:00:00'),
 Timestamp('2022-01-14 00:00:00'),
 Timestamp('2022-01-13 00:00:00'),
 Timestamp('2022-01-12 00:00:00'),
 Timestamp('2022-01-11 00:00:00'),
 Timestamp('2022-01-10 00:00:00'),
 Timestamp('2022-01-09 00:00:00'),
 Timestamp('2022-01-08 00:00:00'),
 Timestamp('2022-01-07 00:00:00'),
 Timestamp('2022-01-06 00:00:00'),
 Timestamp('2022-01-05 00:00:00'),
 Timestamp('2022-01-04 00:00:00'),
 Timestamp('2022-01-03 00:00:00'),
 Timestamp('2022-01-02 00:00:00'),
 Timestamp('2022-01-01 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2021-12-30 00:00:00'),
 Timestamp('2021-12-29 00:00:00'),
 Timestamp('2021-12-28 00:00:00'),
 Timestamp('2021-12-27 00:00:00'),
 Timestamp('2021-12-26 00:00:00'),
 Timestamp('2021-12-25 00:00:00'),
 Timestamp('2021-12-24 00:00:00'),
 Timestamp('2021-12-23 00:00:00'),
 Timestamp('2021-12-22 00:00:00'),
 Timestamp('2021-12-21 00:00:00'),
 Timestamp('2021-12-20 00:00:00'),
 Timestamp('2021-12-19 00:00:00')]

In [70]:
games['GAME_DATE_EST'] = pd.to_datetime(games['GAME_DATE_EST'])
games.dtypes

GAME_DATE_EST       datetime64[ns]
GAME_ID                      int64
GAME_STATUS_TEXT            object
HOME_TEAM_ID                 int64
VISITOR_TEAM_ID              int64
SEASON                       int64
TEAM_ID_home                 int64
PTS_home                   float64
FG_PCT_home                float64
FT_PCT_home                float64
FG3_PCT_home               float64
AST_home                   float64
REB_home                   float64
TEAM_ID_away                 int64
PTS_away                   float64
FG_PCT_away                float64
FT_PCT_away                float64
FG3_PCT_away               float64
AST_away                   float64
REB_away                   float64
HOME_TEAM_WINS               int64
dtype: object

In [90]:
# Assuming df is your DataFrame and 'date' is the column containing datetime values
# Create a date range to filter
start_date = pd.to_datetime('2021-12-19')
end_date = pd.to_datetime('2022-04-10')

# Filter the DataFrame based on the date range
games_2021_2022 = games[(games['GAME_DATE_EST'] >= start_date) & (games['GAME_DATE_EST'] <= end_date)]
games_2021_2022_array = games_2021_2022['GAME_ID']
games_2021_2022_array.unique()

array([22101216, 22101217, 22101218, 22101221, 22101223, 22101226,
       22101227, 22101228, 22101224, 22101219, 22101220, 22101222,
       22101225, 22101229, 22101230, 22101214, 22101213, 22101215,
       22101212, 22101203, 22101204, 22101205, 22101206, 22101207,
       22101208, 22101209, 22101210, 22101211, 22101196, 22101197,
       22101198, 22101199, 22101200, 22101201, 22101202, 22101190,
       22101191, 22101192, 22101193, 22101194, 22101195, 22101178,
       22101179, 22101180, 22101181, 22101182, 22101183, 22101184,
       22101185, 22101186, 22101187, 22101188, 22101189, 22101166,
       22101167, 22101168, 22101169, 22101170, 22101171, 22101172,
       22101173, 22101174, 22101175, 22101176, 22101177, 22101161,
       22101162, 22101163, 22101164, 22101165, 22101151, 22101152,
       22101153, 22101154, 22101155, 22101156, 22101157, 22101158,
       22101159, 22101160, 22101147, 22100452, 22101148, 22101149,
       22101150, 22101136, 22101137, 22101138, 22101139, 22101140,
       22101141, 22101142, 22101143, 22101144, 22101145, 22101146,
       22101131, 22101132, 22101133, 22101134, 22101135, 22101122,
       22101123, 22101124, 22101125, 22101126, 22101127, 22101128,
       22101129, 22101130, 22101115, 22101116, 22101117, 22101118,
       22101119, 22101120, 22101121, 22101107, 22101108, 22101109,
       22101110, 22101111, 22101112, 22101113, 22101114, 22101100,
       22101101, 22101102, 22101103, 22101104, 22101105, 22101106,
       22101095, 22101096, 22101097, 22101098, 22101099, 22101084,
       22101085, 22101086, 22101087, 22101088, 22101089, 22101090,
       22101091, 22101092, 22101093, 22101094, 22101080, 22101081,
       22101082, 22101083, 22101071, 22101072, 22101073, 22101074,
       22101075, 22101076, 22101077, 22101078, 22101079, 22101062,
       22101063, 22101064, 22101065, 22101066, 22101067, 22101068,
       22101069, 22101070, 22101058, 22101059, 22101060, 22101061,
       22101046, 22101047, 22101048, 22101049, 22101050, 22101051,
       22101052, 22101053, 22101054, 22101055, 22101056, 22101057,
       22101045, 22101033, 22101034, 22101035, 22101036, 22101037,
       22101038, 22101039, 22101040, 22101041, 22101042, 22101043,
       22101044, 22101029, 22101030, 22101031, 22101032, 22101020,
       22101021, 22101022, 22101023, 22101024, 22101025, 22101026,
       22101027, 22101028, 22101012, 22101013, 22101014, 22101015,
       22101016, 22101017, 22101018, 22101019, 22101005, 22101006,
       22101007, 22101008, 22101009, 22101010, 22101011, 22100995,
       22100996, 22100997, 22100998, 22100999, 22101000, 22101001,
       22101002, 22101003, 22101004, 22100993, 22100994, 22100981,
       22100982, 22100983, 22100984, 22100985, 22100986, 22100987,
       22100988, 22100989, 22100990, 22100991, 22100992, 22100975,
       22100976, 22100977, 22100978, 22100979, 22100980, 22100968,
       22100969, 22100970, 22100971, 22100972, 22100973, 22100528,
       22100974, 22100960, 22100961, 22100963, 22100964, 22100965,
       22100962, 22100967, 22100966, 22100954, 22100955, 22100956,
       22100957, 22100958, 22100959, 22100946, 22100947, 22100948,
       22100458, 22100949, 22100950, 22100951, 22100952, 22100953,
       22100710, 22100940, 22100941, 22100942, 22100943, 22100944,
       22100945, 22100932, 22100933, 22100934, 22100935, 22100936,
       22100937, 22100938, 22100939, 22100926, 22100927, 22100928,
       22100929, 22100930, 22100931, 22100920, 22100921, 22100726,
       22100922, 22100923, 22100924, 22100925, 22100912, 22100913,
       22100914, 22100915, 22100916, 22100917, 22100918, 22100919,
       22100905, 22100906, 22100907, 22100908, 22100909, 22100910,
       22100911, 22100896, 22100897, 22100898, 22100899, 22100900,
       22100901, 22100902, 22100903, 22100904, 22100889, 22100890,
       22100891, 22100892, 22100893, 22100894, 22100895, 22100885,
       22100464, 22100886, 22100887, 22100888, 22100874, 22100875,
       22100876, 22100877, 22100878, 22100879, 22100880, 22100881,
       22100882, 22100883, 22100884, 22100867, 22100868, 22100869,
       22100870, 22100871, 22100872, 22100873, 22100858, 22100859,
       22100860, 22100861, 22100862, 22100863, 22100864, 22100865,
       22100866, 22100856, 22100857, 22100845, 22100846, 22100847,
       22100848, 22100849, 22100850, 22100851, 22100852, 22100853,
       22100854, 22100855, 22100838, 22100839, 22100840, 22100841,
       22100842, 22100843, 22100844, 22100831, 22100832, 22100833,
       22100834, 22100835, 22100836, 22100837, 22100825, 22100826,
       22100827, 22100828, 22100829, 22100830, 22100815, 22100816,
       22100817, 22100818, 22100819, 22100820, 22100821, 22100822,
       22100823, 22100824, 22100810, 22100811, 22100812, 22100813,
       22100814, 22100802, 22100803, 22100804, 22100805, 22100806,
       22100807, 22100808, 22100809, 22100796, 22100797, 22100798,
       22100799, 22100800, 22100801, 22100787, 22100788, 22100789,
       22100790, 22100792, 22100793, 22100794, 22100791, 22100795,
       22100521, 22100782, 22100430, 22100783, 22100785, 22100786,
       22100773, 22100774, 22100775, 22100776, 22100777, 22100778,
       22100779, 22100780, 22100781, 22100766, 22100768, 22100784,
       22100769, 22100770, 22100771, 22100772, 22100759, 22100760,
       22100761, 22100762, 22100763, 22100767, 22100764, 22100765,
       22100751, 22100752, 22100753, 22100754, 22100755, 22100756,
       22100757, 22100758, 22100745, 22100746, 22100747, 22100748,
       22100749, 22100750, 22100736, 22100735, 22100737, 22100729,
       22100738, 22100739, 22100740, 22100741, 22100742, 22100743,
       22100744, 22100733, 22100734, 22100722, 22100723, 22100724,
       22100725, 22100727, 22100453, 22100472, 22100728, 22100731,
       22100732, 22100454, 22100714, 22100715, 22100716, 22100717,
       22100718, 22100719, 22100720, 22100721, 22100709, 22100712,
       22100730, 22100713, 22100698, 22100699, 22100700, 22100701,
       22100702, 22100703, 22100704, 22100705, 22100706, 22100707,
       22100708, 22100696, 22100695, 22100697, 22100684, 22100685,
       22100686, 22100687, 22100688, 22100689, 22100690, 22100691,
       22100692, 22100693, 22100694, 22100681, 22100682, 22100683,
       22100668, 22100669, 22100670, 22100671, 22100672, 22100673,
       22100674, 22100675, 22100676, 22100677, 22100678, 22100679,
       22100680, 22100666, 22100667, 22100654, 22100655, 22100656,
       22100657, 22100658, 22100659, 22100660, 22100661, 22100662,
       22100663, 22100664, 22100665, 22100617, 22100651, 22100652,
       22100653, 22100641, 22100642, 22100643, 22100644, 22100645,
       22100646, 22100647, 22100648, 22100649, 22100650, 22100632,
       22100633, 22100634, 22100635, 22100637, 22100636, 22100638,
       22100639, 22100640, 22100627, 22100628, 22100629, 22100630,
       22100631, 22100618, 22100619, 22100620, 22100621, 22100622,
       22100623, 22100624, 22100625, 22100626, 22100612, 22100613,
       22100415, 22100614, 22100615, 22100616, 22100607, 22100608,
       22100609, 22100610, 22100711, 22100486, 22100611, 22100602,
       22100597, 22100598, 22100599, 22100600, 22100601, 22100603,
       22100604, 22100605, 22100606, 22100591, 22100592, 22100593,
       22100594, 22100595, 22100596, 22100582, 22100583, 22100584,
       22100585, 22100586, 22100587, 22100588, 22100589, 22100590,
       22100578, 22100579, 22100580, 22100581, 22100567, 22100568,
       22100569, 22100570, 22100571, 22100572, 22100573, 22100574,
       22100575, 22100576, 22100577, 22100562, 22100563, 22100564,
       22100565, 22100566, 22100552, 22100553, 22100554, 22100555,
       22100556, 22100557, 22100558, 22100559, 22100560, 22100561,
       22100545, 22100546, 22100547, 22100548, 22100549, 22100550,
       22100551, 22100539, 22100540, 22100541, 22100542, 22100543,
       22100544, 22100529, 22100530, 22100531, 22100532, 22100533,
       22100534, 22100535, 22100536, 22100537, 22100538, 22100525,
       22100526, 22100527, 22100516, 22100517, 22100518, 22100519,
       22100520, 22100522, 22100523, 22100524, 22100508, 22100509,
       22100510, 22100511, 22100512, 22100513, 22100514, 22100515,
       22100501, 22100502, 22100503, 22100504, 22100505, 22100506,
       22100507, 22100493, 22100494, 22100495, 22100496, 22100497,
       22100498, 22100499, 22100500, 22100488, 22100489, 22100490,
       22100491, 22100492, 22100476, 22100477, 22100478, 22100479,
       22100480, 22100481, 22100482, 22100483, 22100484, 22100485,
       22100487, 22100470, 22100471, 22100473, 22100474, 22100475,
       22100465, 22100466, 22100467, 22100468, 22100469, 22100457,
       22100459, 22100460, 22100461, 22100462, 22100463, 22100449,
       22100450, 22100451, 22100448, 22100455, 22100456])

In [88]:
len(games_details[games_details['GAME_ID'].isin(games_2021_2022_array)]['GAME_ID'].unique())

785

In [ ]:
1,230

In [66]:
games[games['GAME_DATE_EST'].isin(szn_2021_2022_array)]

Empty DataFrame
Columns: [GAME_DATE_EST, GAME_ID, GAME_STATUS_TEXT, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, TEAM_ID_home, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, TEAM_ID_away, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS]
Index: []

[0 rows x 21 columns]

In [52]:
len(ranking[['SEASON_ID','STANDINGSDATE']][ranking[['SEASON_ID','STANDINGSDATE']]['SEASON_ID']==22021]['STANDINGSDATE'].unique())

346

In [6]:
# Generating an array of all the game IDs that occurred in the 2022 season
game_ids_2022 = games[games['SEASON'] == 2022]['GAME_ID'].unique()
game_ids_2022

array([22200477, 22200478, 22200466, 22200467, 22200468, 22200469,
       22200470, 22200471, 22200472, 22200473, 22200474, 22200475,
       22200476, 22200461, 22200462, 22200463, 22200464, 22200465,
       22200452, 22200453, 22200454, 22200455, 22200456, 22200457,
       22200458, 22200459, 22200460, 22200445, 22200446, 22200447,
       22200448, 22200449, 22200450, 22200451, 22200438, 22200439,
       22200440, 22200441, 22200442, 22200443, 22200444, 22200428,
       22200429, 22200430, 22200431, 22200432, 22200433, 22200434,
       22200435, 22200436, 22200437, 22200424, 22200425, 22200426,
       22200427, 22200414, 22200415, 22200416, 22200417, 22200418,
       22200419, 22200420, 22200421, 22200422, 22200423, 22200409,
       22200410, 22200411, 22200412, 22200413, 22200402, 22200403,
       22200404, 22200405, 22200406, 22200407, 22200408, 22200395,
       22200396, 22200397, 22200398, 22200399, 22200400, 22200401,
       22200387, 22200388, 22200389, 22200390, 22200391, 22200392,
       22200393, 22200394, 22200377, 22200378, 22200379, 22200380,
       22200381, 22200382, 22200383, 22200384, 22200385, 22200386,
       22200374, 22200375, 22200376, 22200363, 22200364, 22200365,
       22200366, 22200367, 22200368, 22200369, 22200370, 22200371,
       22200372, 22200373, 22200360, 22200361, 22200362, 22200352,
       22200353, 22200354, 22200355, 22200356, 22200357, 22200358,
       22200359, 22200344, 22200345, 22200346, 22200347, 22200348,
       22200349, 22200350, 22200351, 22200337, 22200338, 22200339,
       22200340, 22200341, 22200342, 22200343, 22200326, 22200327,
       22200328, 22200329, 22200330, 22200331, 22200332, 22200333,
       22200334, 22200335, 22200336, 22200325, 22200312, 22200313,
       22200314, 22200315, 22200316, 22200317, 22200318, 22200319,
       22200320, 22200321, 22200322, 22200323, 22200324, 22200309,
       22200310, 22200311, 22200299, 22200300, 22200301, 22200302,
       22200303, 22200304, 22200305, 22200306, 22200307, 22200308,
       22200290, 22200291, 22200292, 22200293, 22200294, 22200295,
       22200296, 22200297, 22200298, 22200286, 22200287, 22200288,
       22200289, 22200272, 22200273, 22200274, 22200275, 22200276,
       22200277, 22200278, 22200279, 22200280, 22200281, 22200282,
       22200283, 22200284, 22200285, 22200260, 22200261, 22200262,
       22200263, 22200264, 22200265, 22200266, 22200267, 22200268,
       22200269, 22200270, 22200271, 22200256, 22200257, 22200258,
       22200259, 22200248, 22200249, 22200250, 22200251, 22200252,
       22200253, 22200254, 22200255, 22200240, 22200241, 22200242,
       22200243, 22200244, 22200245, 22200246, 22200247, 22200235,
       22200237, 22200238, 22200239, 22200224, 22200225, 22200226,
       22200227, 22200228, 22200229, 22200230, 22200231, 22200232,
       22200233, 22200234, 22200221, 22200222, 22200223, 22200211,
       22200212, 22200213, 22200214, 22200215, 22200216, 22200217,
       22200218, 22200219, 22200220, 22200206, 22200207, 22200208,
       22200209, 22200210, 22200199, 22200200, 22200201, 22200202,
       22200203, 22200204, 22200205, 22200192, 22200193, 22200194,
       22200195, 22200196, 22200197, 22200198, 22200184, 22200185,
       22200186, 22200187, 22200188, 22200189, 22200190, 22200191,
       22200176, 22200177, 22200178, 22200179, 22200180, 22200181,
       22200182, 22200183, 22200172, 22200173, 22200174, 22200175,
       22200161, 22200159, 22200160, 22200162, 22200163, 22200164,
       22200165, 22200166, 22200167, 22200168, 22200169, 22200170,
       22200171, 22200144, 22200145, 22200146, 22200147, 22200148,
       22200149, 22200150, 22200151, 22200152, 22200153, 22200154,
       22200155, 22200156, 22200157, 22200158, 22200140, 22200141,
       22200142, 22200143, 22200132, 22200133, 22200134, 22200135,
       22200136, 22200137, 22200138, 22200139, 22200120, 22200121,
       22200122, 22200123, 22200124, 22200125, 22200126, 22200127,
       22200128, 22200129, 22200130, 22200131, 22200118, 22200119,
       22200108, 22200107, 22200109, 22200110, 22200111, 22200112,
       22200113, 22200114, 22200115, 22200116, 22200117, 22200103,
       22200104, 22200105, 22200106, 22200096, 22200097, 22200098,
       22200099, 22200100, 22200101, 22200102, 22200088, 22200089,
       22200090, 22200091, 22200092, 22200093, 22200094, 22200095,
       22200081, 22200082, 22200083, 22200084, 22200085, 22200086,
       22200087, 22200070, 22200071, 22200072, 22200073, 22200074,
       22200075, 22200076, 22200077, 22200078, 22200079, 22200080,
       22200066, 22200067, 22200068, 22200069, 22200056, 22200057,
       22200058, 22200059, 22200060, 22200061, 22200062, 22200063,
       22200064, 22200065, 22200052, 22200053, 22200054, 22200055,
       22200044, 22200045, 22200046, 22200047, 22200048, 22200049,
       22200050, 22200051, 22200037, 22200038, 22200039, 22200040,
       22200041, 22200042, 22200043, 22200028, 22200029, 22200030,
       22200031, 22200032, 22200033, 22200034, 22200035, 22200036,
       22200017, 22200018, 22200019, 22200020, 22200021, 22200022,
       22200023, 22200024, 22200025, 22200026, 22200027, 22200015,
       22200016, 22200003, 22200004, 22200005, 22200006, 22200007,
       22200008, 22200009, 22200010, 22200011, 22200012, 22200013,
       22200014, 22200001, 22200002, 12200062, 12200063, 12200064,
       12200065, 12200066, 12200067, 12200068, 12200069, 12200070,
       12200060, 12200061, 12200052, 12200053, 12200054, 12200055,
       12200056, 12200057, 12200058, 12200059, 12200047, 12200048,
       12200049, 12200050, 12200051, 12200043, 12200044, 12200045,
       12200046, 12200037, 12200039, 12200040, 12200041, 12200042,
       12200036, 12200029, 12200030, 12200031, 12200032, 12200033,
       12200034, 12200035, 12200023, 12200024, 12200026, 12200028,
       12200018, 12200019, 12200020, 12200021, 12200022, 12200014,
       12200015, 12200016, 12200017, 12200009, 12200010, 12200011,
       12200012, 12200013, 12200004, 12200005, 12200006, 12200007,
       12200003, 12200001])

In [11]:
# Restricting the games_details df to games that only occurred in the 2022 season
# using the game_ids_2022 array and dropping NAs, so that only starters are included
game_details_2022 = games_details[games_details['GAME_ID'].isin(game_ids_2022)]
game_details_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14650,12200001,1610612764,WAS,Washington,1630225,Isaiah Todd,Isaiah,NaN,NaN,12:00,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,4.0,3.0,-4.0
14651,12200001,1610612764,WAS,Washington,201959,Taj Gibson,Taj,NaN,NaN,10:30,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,8.0,-1.0
14652,12200001,1610612764,WAS,Washington,1630176,Vernon Carey Jr.,Vernon,NaN,NaN,8:20,...,1.0,2.0,3.0,0.0,0.0,2.0,0.0,0.0,3.0,-6.0
14653,12200001,1610612764,WAS,Washington,203115,Will Barton,Will,NaN,DND - Injury/Illness,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14654,12200001,1610612764,WAS,Washington,1629653,Devon Dotson,Devon,NaN,NWT - Not With Team,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Restricting df to only include starters
starters_2022 = game_details_2022.dropna(subset=['START_POSITION'])
starters_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,0.0,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,0.0,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,0.0,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,2.0,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,1.0,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0

DEALING WITH MINUTES DIBOCLE

In [22]:
# Examining MIN column
starters_2022[['PLAYER_NAME','MIN']]

              PLAYER_NAME    MIN
0          Romeo Langford  18:06
1           Jeremy Sochan  31:01
2            Jakob Poeltl  21:42
3           Devin Vassell  30:20
4               Tre Jones  27:44
...                   ...    ...
14639          Kyle Kuzma  20:04
14640       Rui Hachimura  25:10
14641  Kristaps Porzingis  21:15
14642        Bradley Beal  17:34
14643        Monte Morris  18:19

[5420 rows x 2 columns]

In [25]:
# Replacing the colon in MIN with a period so that it can be converted to a float
starters_2022['MIN_float'] = starters_2022['MIN'].str.replace(":", ".")
starters_2022

/var/folders/bb/4gpn5xfn0dqcx7v7w_7s2llc0000gn/T/ipykernel_1572/648287319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  starters_2022['MIN_float'] = starters_2022['MIN'].str.replace(":", ".")

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,18.06
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,31.01
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,21.42
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0,20.04
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0,25.10
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0,21.15
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [30]:
# Got an error when attempting to cast the new MIN column into a float bc there was
# a weird value, so i'm finding that, and then deciding what to do...
starters_2022[starters_2022['MIN_float']=='29.000000.24']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
422,22200465,1610612763,MEM,Memphis,1628415,Dillon Brooks,Dillon,F,NaN,29.000000:24,...,7.0,7.0,1.0,3.0,0.0,1.0,5.0,11.0,-21.0,29.000000.24

In [38]:
# Changing the weird value into what i believe it should be
known_index = 422
starters_2022.at[known_index,'MIN_float'] = '29.24'

# Checking to make sure it actually changed
starters_2022[starters_2022['MIN']=='29.000000:24']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
422,22200465,1610612763,MEM,Memphis,1628415,Dillon Brooks,Dillon,F,NaN,29.000000:24,...,7.0,7.0,1.0,3.0,0.0,1.0,5.0,11.0,-21.0,29.24

# Define the regular expression pattern
pattern = r'^\d{2}\.0{6}\.\d+\.\d+$'

# Use str.contains() with the regular expression pattern to filter the DataFrame
odd_values = df[df['Minutes'].str.contains(pattern)]

#

In [41]:
# Found another one of these weird values appear, so I'm checking the rest of the column
# to see just how many there are
pattern = r'^\d{2}\.0{6}\.\d+\.\d+$'
starters_2022_cleaned = starters_2022[starters_2022['MIN'].str.contains(pattern)]
starters_2022_cleaned

Empty DataFrame
Columns: [GAME_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, PLAYER_ID, PLAYER_NAME, NICKNAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, MIN_float]
Index: []

[0 rows x 30 columns]

In [ ]:
df['ModifiedTime'] = df['ModifiedTime'].astype(float)

In [39]:

starters_2022['MIN_float'] = starters_2022['MIN_float'].astype(float)
starters_2022

ValueError: could not convert string to float: '21.000000.45'

In [ ]:
.astype(float)

CONTINUING WORK ON STARTERS STATS

In [14]:
# Creating a list of the columns in the games_details df so i can easily select the 
# relevant columns in the following step
games_details.columns.to_list()

['GAME_ID',
 'TEAM_ID',
 'TEAM_ABBREVIATION',
 'TEAM_CITY',
 'PLAYER_ID',
 'PLAYER_NAME',
 'NICKNAME',
 'START_POSITION',
 'COMMENT',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PF',
 'PTS',
 'PLUS_MINUS']

In [15]:
starters_stats_2022 = starters_2022[['PLAYER_NAME', 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PF',
 'PTS']]
starters_stats_2022

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,Romeo Langford,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0
1,Jeremy Sochan,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0
2,Jakob Poeltl,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0
3,Devin Vassell,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0
4,Tre Jones,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,Kyle Kuzma,3.0,9.0,0.333,1.0,5.0,0.200,0.0,0.0,0.000,0.0,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0
14640,Rui Hachimura,5.0,9.0,0.556,0.0,4.0,0.000,3.0,7.0,0.429,0.0,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0
14641,Kristaps Porzingis,3.0,10.0,0.300,0.0,6.0,0.000,1.0,2.0,0.500,0.0,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0
14642,Bradley Beal,4.0,8.0,0.500,1.0,4.0,0.250,0.0,0.0,0.000,2.0,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0
14643,Monte Morris,4.0,10.0,0.400,1.0,4.0,0.250,0.0,0.0,0.000,1.0,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0

In [17]:
# Getting the averages of each of the stats for every player
starters_avgs_2022 = starters_stats_2022.groupby('PLAYER_NAME').mean().reset_index()
starters_avgs_2022

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,AJ Griffin,5.875000,13.000000,0.460250,2.125000,6.625000,0.361250,0.625000,0.875000,0.375000,0.875000,1.500000,2.375000,1.375000,1.500000,0.250000,1.500000,1.500000,14.500000
1,Aaron Gordon,6.354839,10.548387,0.590677,1.000000,2.516129,0.388677,2.838710,4.225806,0.603258,2.290323,4.129032,6.419355,2.161290,0.935484,0.741935,1.516129,1.806452,16.548387
2,Aaron Holiday,1.666667,5.000000,0.333000,0.333333,1.333333,0.166667,0.666667,0.666667,0.333333,0.666667,1.666667,2.333333,2.000000,1.666667,0.000000,0.666667,1.333333,4.333333
3,Aaron Nesmith,3.562500,8.062500,0.445125,1.500000,4.437500,0.319000,1.375000,1.562500,0.529000,0.812500,3.375000,4.187500,1.062500,0.937500,0.625000,1.125000,3.375000,10.000000
4,Aaron Wiggins,3.714286,7.857143,0.503143,0.714286,2.428571,0.250000,1.857143,2.142857,0.614286,1.428571,3.857143,5.285714,2.285714,1.000000,0.285714,0.857143,2.285714,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,Willy Hernangomez,7.000000,10.000000,0.700000,0.000000,1.000000,0.000000,3.000000,4.000000,0.750000,2.000000,5.000000,7.000000,1.000000,1.000000,0.000000,4.000000,4.000000,17.000000
348,Zach Collins,3.714286,7.571429,0.525286,0.285714,2.428571,0.190429,1.142857,1.857143,0.442857,1.857143,4.428571,6.285714,3.428571,0.571429,0.285714,3.142857,5.285714,8.857143
349,Zach LaVine,7.366667,16.566667,0.443600,2.633333,7.200000,0.365233,3.066667,3.733333,0.710133,0.533333,3.600000,4.133333,4.133333,1.100000,0.033333,2.633333,2.266667,20.433333
350,Ziaire Williams,4.000000,10.000000,0.400000,2.000000,3.000000,0.667000,1.000000,2.000000,0.500000,0.000000,5.000000,5.000000,2.000000,0.000000,0.000000,1.000000,1.000000,11.000000
351,Zion Williamson,8.862069,14.862069,0.595655,0.241379,0.655172,0.149448,5.275862,7.586207,0.712034,1.931034,4.793103,6.724138,4.448276,1.137931,0.551724,2.931034,2.137931,23.241379

In [19]:
# Finding players with the highest FGM
highest_FGM = starters_avgs_2022.sort_values(by='FGM', ascending=False)
highest_FGM

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
200,Kemba Walker,12.000000,25.000000,0.480000,4.000000,13.000000,0.308000,4.000000,6.000000,0.667000,0.000000,5.000000,5.000000,7.000000,0.000000,1.000000,2.000000,2.000000,32.000000
114,Giannis Antetokounmpo,10.964286,20.928571,0.519107,0.750000,3.000000,0.263107,8.178571,12.607143,0.647500,2.035714,9.107143,11.142857,4.964286,0.892857,0.928571,3.642857,3.571429,30.857143
229,Luka Doncic,10.741935,21.612903,0.502161,2.806452,8.129032,0.348097,7.129032,9.709677,0.717742,0.774194,7.161290,7.935484,8.451613,1.612903,0.645161,3.580645,2.612903,31.419355
208,Kevin Durant,10.314286,18.514286,0.557571,1.685714,4.657143,0.349086,6.485714,7.085714,0.891486,0.285714,5.942857,6.228571,5.171429,0.885714,1.542857,3.514286,2.228571,28.800000
307,Shai Gilgeous-Alexander,10.310345,20.689655,0.498034,1.000000,3.000000,0.317241,9.551724,10.275862,0.938966,0.793103,3.862069,4.655172,5.724138,1.689655,1.000000,3.413793,2.586207,31.172414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Damian Jones,0.666667,3.666667,0.166667,0.000000,0.333333,0.000000,2.333333,3.333333,0.611000,1.666667,3.000000,4.666667,0.666667,0.000000,1.333333,1.333333,2.333333,3.666667
58,Cory Joseph,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.500000,0.000000,1.500000,1.500000,3.500000,0.000000,0.000000,0.000000,4.000000,1.000000
159,Jaylin Williams,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,4.000000,0.250000,0.000000,11.000000,11.000000,2.000000,0.000000,1.000000,0.000000,3.000000,1.000000
339,Udonis Haslem,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
72,Davon Reed,0.000000,7.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,4.000000,2.000000,0.000000,0.000000,2.000000,2.000000,0.000000

In [20]:
# Finding players with the highest FGA
higest_FGA = starters_avgs_2022.sort_values(by='FGA', ascending=False)
higest_FGA

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
200,Kemba Walker,12.000000,25.000000,0.480000,4.000000,13.000000,0.308000,4.000000,6.000000,0.667000,0.000000,5.000000,5.000000,7.000000,0.000000,1.000000,2.000000,2.000000,32.000000
229,Luka Doncic,10.741935,21.612903,0.502161,2.806452,8.129032,0.348097,7.129032,9.709677,0.717742,0.774194,7.161290,7.935484,8.451613,1.612903,0.645161,3.580645,2.612903,31.419355
88,Devin Booker,9.800000,20.933333,0.454567,2.400000,6.600000,0.397067,5.533333,6.433333,0.871067,0.800000,3.866667,4.666667,5.466667,0.933333,0.400000,2.433333,2.800000,27.533333
114,Giannis Antetokounmpo,10.964286,20.928571,0.519107,0.750000,3.000000,0.263107,8.178571,12.607143,0.647500,2.035714,9.107143,11.142857,4.964286,0.892857,0.928571,3.642857,3.571429,30.857143
307,Shai Gilgeous-Alexander,10.310345,20.689655,0.498034,1.000000,3.000000,0.317241,9.551724,10.275862,0.938966,0.793103,3.862069,4.655172,5.724138,1.689655,1.000000,3.413793,2.586207,31.172414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,Robin Lopez,1.000000,2.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
91,Dewayne Dedmon,1.000000,2.000000,0.500000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,5.000000,0.000000,0.000000,1.000000,2.000000,4.000000,2.000000
58,Cory Joseph,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.500000,0.000000,1.500000,1.500000,3.500000,0.000000,0.000000,0.000000,4.000000,1.000000
259,Moussa Diabate,1.000000,2.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
159,Jaylin Williams,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,4.000000,0.250000,0.000000,11.000000,11.000000,2.000000,0.000000,1.000000,0.000000,3.000000,1.000000

In [21]:
# Finding players with the highest FG_PCT
highest_FG_PCT = starters_avgs_2022.sort_values(by='FG_PCT', ascending=False)
highest_FG_PCT

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
165,Jericho Sims,2.5,2.50,1.00000,0.0,0.0,0.00,0.50,1.00,0.2500,2.00,3.00,5.00,0.00,0.5,2.00,0.50,4.0,5.50
23,Bismack Biyombo,3.0,3.75,0.82500,0.0,0.0,0.00,1.25,2.75,0.3375,1.25,3.75,5.00,0.75,0.0,2.75,1.00,2.5,7.25
242,Marques Bolden,9.0,11.00,0.81800,3.0,4.0,0.75,0.00,0.00,0.0000,2.00,3.00,5.00,2.00,1.0,2.00,1.00,4.0,21.00
342,Walker Kessler,4.6,5.80,0.80220,0.0,0.0,0.00,0.60,1.60,0.2500,3.60,5.80,9.40,0.80,0.4,2.20,1.00,3.4,9.80
98,Drew Eubanks,3.5,4.25,0.77675,0.0,0.0,0.00,0.75,1.50,0.2500,2.00,5.75,7.75,2.00,0.5,1.25,0.75,3.5,7.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Keon Johnson,1.0,8.00,0.12500,0.0,4.0,0.00,2.00,4.00,0.5000,1.00,2.00,3.00,5.00,1.0,0.00,3.00,1.0,4.00
339,Udonis Haslem,0.0,4.00,0.00000,0.0,0.0,0.00,0.00,0.00,0.0000,1.00,1.00,2.00,0.00,0.0,0.00,0.00,3.0,0.00
159,Jaylin Williams,0.0,1.00,0.00000,0.0,1.0,0.00,1.00,4.00,0.2500,0.00,11.00,11.00,2.00,0.0,1.00,0.00,3.0,1.00
72,Davon Reed,0.0,7.00,0.00000,0.0,5.0,0.00,0.00,0.00,0.0000,1.00,3.00,4.00,2.00,0.0,0.00,2.00,2.0,0.00
58,Cory Joseph,0.0,2.00,0.00000,0.0,1.0,0.00,1.00,1.00,0.5000,0.00,1.50,1.50,3.50,0.0,0.00,0.00,4.0,1.00

In [42]:
highest_STL = starters_avgs_2022.sort_values(by='STL', ascending=False)
highest_STL

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
340,Usman Garuba,2.000000,3.000000,0.667000,1.0,1.0,1.000,1.000000,2.00,0.500000,4.000000,4.000000,8.00,2.000000,4.0,0.00,2.000000,2.0,6.0
202,Kennedy Chandler,4.000000,6.000000,0.667000,1.0,2.0,0.500,2.000000,3.00,0.667000,0.000000,4.000000,4.00,8.000000,4.0,0.00,3.000000,3.0,11.0
177,Jordan Goodwin,4.666667,9.666667,0.482333,1.0,3.0,0.300,1.666667,3.00,0.527667,0.666667,2.333333,3.00,5.333333,3.0,0.00,1.333333,2.0,12.0
168,Jock Landale,7.000000,14.000000,0.500000,2.0,6.0,0.333,1.000000,1.00,1.000000,2.000000,6.000000,8.00,3.000000,3.0,4.00,4.000000,4.0,17.0
302,Sandro Mamukelashvili,3.000000,9.000000,0.333000,1.0,5.0,0.200,6.000000,9.00,0.667000,1.000000,8.000000,9.00,4.000000,3.0,0.00,1.000000,1.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Isaiah Roby,4.000000,7.000000,0.571000,1.0,2.0,0.500,0.000000,0.00,0.000000,1.000000,2.000000,3.00,2.000000,0.0,0.00,1.000000,1.0,9.0
70,David Roddy,2.000000,8.000000,0.250000,0.0,3.0,0.000,2.000000,2.00,1.000000,1.000000,4.000000,5.00,2.000000,0.0,2.00,0.000000,1.0,6.0
136,Jaden Hardy,2.000000,10.000000,0.200000,1.0,5.0,0.200,1.000000,2.00,0.500000,0.000000,3.000000,3.00,2.000000,0.0,0.00,1.000000,5.0,6.0
293,Robin Lopez,1.000000,2.000000,0.500000,0.0,0.0,0.000,0.000000,0.00,0.000000,1.000000,0.000000,1.00,0.000000,0.0,0.00,0.000000,2.0,2.0
161,Jeff Green,3.000000,5.750000,0.607250,0.0,1.0,0.000,2.500000,2.75,0.750000,0.250000,1.000000,1.25,1.000000,0.0,0.25,1.000000,2.0,8.5

DETERMING A WAY TO CALCULATE WHO THE BEST PLAYERS ARE BASED ON FANTASY POINT SYSTEM


Points Scored	
1 Points
Total Rebounds	
1.2 Points
Assists	
1.5 Points
Steals	
3 Points
Blocked Shots	
3 Points
Turnovers	
-1 Points

In [62]:
starters_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,18.06
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,31.01
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,21.42
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0,20.04
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0,25.10
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0,21.15
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [64]:
# Create a dataframe with the columns relevant to fantasy points
fantasy_score = starters_2022[['PLAYER_NAME',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS']]
fantasy_score

              PLAYER_NAME  REB  AST  STL  BLK   TO   PTS
0          Romeo Langford  2.0  0.0  1.0  0.0  2.0   2.0
1           Jeremy Sochan  9.0  6.0  1.0  0.0  2.0  23.0
2            Jakob Poeltl  4.0  1.0  1.0  0.0  2.0  13.0
3           Devin Vassell  9.0  5.0  3.0  0.0  2.0  10.0
4               Tre Jones  2.0  3.0  0.0  0.0  2.0  19.0
...                   ...  ...  ...  ...  ...  ...   ...
14639          Kyle Kuzma  4.0  1.0  0.0  1.0  3.0   7.0
14640       Rui Hachimura  9.0  0.0  1.0  0.0  1.0  13.0
14641  Kristaps Porzingis  4.0  4.0  4.0  1.0  1.0   7.0
14642        Bradley Beal  2.0  3.0  2.0  0.0  2.0   9.0
14643        Monte Morris  1.0  5.0  1.0  0.0  2.0   9.0

[5420 rows x 7 columns]

In [68]:
fantasy_score_grouped = fantasy_score.groupby('PLAYER_NAME').sum().reset_index()
fantasy_score_grouped

           PLAYER_NAME    REB    AST   STL   BLK    TO    PTS
0           AJ Griffin   19.0   11.0  12.0   2.0  12.0  116.0
1         Aaron Gordon  199.0   67.0  29.0  23.0  47.0  513.0
2        Aaron Holiday    7.0    6.0   5.0   0.0   2.0   13.0
3        Aaron Nesmith   67.0   17.0  15.0  10.0  18.0  160.0
4        Aaron Wiggins   37.0   16.0   7.0   2.0   6.0   70.0
..                 ...    ...    ...   ...   ...   ...    ...
347  Willy Hernangomez    7.0    1.0   1.0   0.0   4.0   17.0
348       Zach Collins   44.0   24.0   4.0   2.0  22.0   62.0
349        Zach LaVine  124.0  124.0  33.0   1.0  79.0  613.0
350    Ziaire Williams    5.0    2.0   0.0   0.0   1.0   11.0
351    Zion Williamson  195.0  129.0  33.0  16.0  85.0  674.0

[352 rows x 7 columns]

In [69]:
# Perform calculations on each column based on fantasy point system
fantasy_score_grouped['REB'] = fantasy_score_grouped['REB'] * 1.2
fantasy_score_grouped['AST'] = fantasy_score_grouped['AST'] * 1.5
fantasy_score_grouped['STL'] = fantasy_score_grouped['STL'] * 3
fantasy_score_grouped['BLK'] = fantasy_score_grouped['BLK'] * 3
fantasy_score_grouped['TO'] = fantasy_score_grouped['TO'] * -1
fantasy_score_grouped['PTS'] = fantasy_score_grouped['PTS'] * 1
fantasy_score_grouped

           PLAYER_NAME    REB    AST   STL   BLK    TO    PTS
0           AJ Griffin   22.8   16.5  36.0   6.0 -12.0  116.0
1         Aaron Gordon  238.8  100.5  87.0  69.0 -47.0  513.0
2        Aaron Holiday    8.4    9.0  15.0   0.0  -2.0   13.0
3        Aaron Nesmith   80.4   25.5  45.0  30.0 -18.0  160.0
4        Aaron Wiggins   44.4   24.0  21.0   6.0  -6.0   70.0
..                 ...    ...    ...   ...   ...   ...    ...
347  Willy Hernangomez    8.4    1.5   3.0   0.0  -4.0   17.0
348       Zach Collins   52.8   36.0  12.0   6.0 -22.0   62.0
349        Zach LaVine  148.8  186.0  99.0   3.0 -79.0  613.0
350    Ziaire Williams    6.0    3.0   0.0   0.0  -1.0   11.0
351    Zion Williamson  234.0  193.5  99.0  48.0 -85.0  674.0

[352 rows x 7 columns]

In [70]:
# Create a new column with the total fantasy points
fantasy_score_grouped['Fantasy_Score'] = fantasy_score_grouped[
    'REB'] + fantasy_score_grouped['AST'] + fantasy_score_grouped[
        'AST'] + fantasy_score_grouped['STL'] + fantasy_score_grouped[
            'BLK'] + fantasy_score_grouped['TO'] + fantasy_score_grouped['PTS']

fantasy_score_grouped

           PLAYER_NAME    REB    AST   STL   BLK    TO    PTS  Fantasy_Score
0           AJ Griffin   22.8   16.5  36.0   6.0 -12.0  116.0          201.8
1         Aaron Gordon  238.8  100.5  87.0  69.0 -47.0  513.0         1061.8
2        Aaron Holiday    8.4    9.0  15.0   0.0  -2.0   13.0           52.4
3        Aaron Nesmith   80.4   25.5  45.0  30.0 -18.0  160.0          348.4
4        Aaron Wiggins   44.4   24.0  21.0   6.0  -6.0   70.0          183.4
..                 ...    ...    ...   ...   ...   ...    ...            ...
347  Willy Hernangomez    8.4    1.5   3.0   0.0  -4.0   17.0           27.4
348       Zach Collins   52.8   36.0  12.0   6.0 -22.0   62.0          182.8
349        Zach LaVine  148.8  186.0  99.0   3.0 -79.0  613.0         1156.8
350    Ziaire Williams    6.0    3.0   0.0   0.0  -1.0   11.0           22.0
351    Zion Williamson  234.0  193.5  99.0  48.0 -85.0  674.0         1357.0

[352 rows x 8 columns]

In [71]:
# Find players with highest fantasy score
best_fantasy_players = fantasy_score_grouped.sort_values(
    by='Fantasy_Score', ascending=False)
best_fantasy_players

        PLAYER_NAME    REB    AST    STL    BLK     TO     PTS  Fantasy_Score
229     Luka Doncic  295.2  393.0  150.0   60.0 -111.0   974.0         2154.2
208    Kevin Durant  261.6  271.5   93.0  162.0 -123.0  1008.0         1944.6
266    Nikola Jokic  370.8  394.5  132.0   57.0 -112.0   689.0         1925.8
326      Trae Young  106.8  460.5   72.0   15.0 -126.0   883.0         1871.8
160    Jayson Tatum  321.6  202.5  108.0   84.0  -91.0   972.0         1799.6
..              ...    ...    ...    ...    ...    ...     ...            ...
72       Davon Reed    4.8    3.0    0.0    0.0   -2.0     0.0            8.8
184     Josh Okogie    1.2    1.5    0.0    0.0   -3.0     6.0            7.2
259  Moussa Diabate    2.4    0.0    0.0    0.0   -0.0     2.0            4.4
293     Robin Lopez    1.2    0.0    0.0    0.0   -0.0     2.0            3.2
339   Udonis Haslem    2.4    0.0    0.0    0.0   -0.0     0.0            2.4

[352 rows x 8 columns]

WORKING ON SOMETHING ELSE, LOOKING AT DIFFERENT POSITIONS

In [43]:
starters_2022[starters_2022['START_POSITION']=='PG']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,18.06
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,31.01
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,21.42
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0,20.04
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0,25.10
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0,21.15
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [49]:
len(starters_2022[starters_2022['PLAYER_NAME']=='Kevon Looney'])

37

In [45]:
starters_2022['START_POSITION'].unique()

array(['F', 'C', 'G'], dtype=object)

In [51]:
gaurds_2022 = starters_2022[starters_2022['START_POSITION']=='G']
gaurds_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
17,22200477,1610612740,NOP,New Orleans,1630529,Herbert Jones,Herbert,G,NaN,34:26,...,2.0,3.0,2.0,2.0,1.0,2.0,2.0,12.0,16.0,34.26
18,22200477,1610612740,NOP,New Orleans,203468,CJ McCollum,CJ,G,NaN,37:11,...,7.0,8.0,9.0,1.0,2.0,5.0,1.0,40.0,23.0,37.11
28,22200478,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,31:05,...,4.0,5.0,5.0,0.0,0.0,2.0,2.0,30.0,4.0,31.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14603,12200003,1610612749,MIL,Milwaukee,201950,Jrue Holiday,Jrue,G,NaN,15:12,...,3.0,3.0,3.0,1.0,0.0,2.0,0.0,5.0,3.0,15.12
14622,12200001,1610612744,GSW,Golden State,1629673,Jordan Poole,Jordan,G,NaN,19:10,...,5.0,5.0,1.0,1.0,1.0,1.0,1.0,5.0,4.0,19.10
14623,12200001,1610612744,GSW,Golden State,201939,Stephen Curry,Stephen,G,NaN,13:05,...,3.0,3.0,2.0,0.0,0.0,4.0,0.0,6.0,-2.0,13.05
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [54]:
gaurds_2022.sort_values(by='STL', ascending=False).head(30)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
10184,22200076,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,30:49,...,4.0,4.0,7.0,7.0,1.0,2.0,1.0,11.0,12.0,30.49
2436,22200382,1610612755,PHI,Philadelphia,1629001,De'Anthony Melton,De'Anthony,G,NaN,43:04,...,4.0,4.0,2.0,7.0,0.0,2.0,1.0,33.0,3.0,43.04
4454,22200307,1610612756,PHX,Phoenix,1626164,Devin Booker,Devin,G,NaN,40:39,...,8.0,8.0,4.0,6.0,0.0,6.0,4.0,44.0,14.0,40.39
2814,22200370,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,G,NaN,35:01,...,7.0,8.0,8.0,6.0,0.0,6.0,3.0,26.0,-4.0,35.01
9443,22200096,1610612766,CHA,Charlotte,1628372,Dennis Smith Jr.,Dennis,G,NaN,36:38,...,5.0,7.0,8.0,6.0,1.0,4.0,4.0,15.0,-1.0,36.38
9601,22200102,1610612746,LAC,LA,202331,Paul George,Paul,G,NaN,37:58,...,9.0,9.0,8.0,6.0,2.0,3.0,3.0,35.0,16.0,37.58
2171,22200389,1610612764,WAS,Washington,1630692,Jordan Goodwin,Jordan,G,NaN,38:02,...,2.0,4.0,6.0,6.0,0.0,1.0,3.0,17.0,5.0,38.02
7220,22200186,1610612738,BOS,Boston,203935,Marcus Smart,Marcus,G,NaN,43:01,...,1.0,2.0,10.0,5.0,1.0,1.0,1.0,18.0,4.0,43.01
5834,22200241,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,40:33,...,4.0,4.0,5.0,5.0,0.0,5.0,4.0,26.0,4.0,40.33
6132,22200225,1610612739,CLE,Cleveland,1629636,Darius Garland,Darius,G,NaN,48:13,...,1.0,1.0,6.0,5.0,1.0,8.0,5.0,41.0,23.0,48.13
11718,22200027,1610612756,PHX,Phoenix,101108,Chris Paul,Chris,G,NaN,36:09,...,4.0,4.0,12.0,5.0,0.0,1.0,5.0,10.0,0.0,36.09
11787,22200016,1610612747,LAL,Los Angeles,201566,Russell Westbrook,Russell,G,NaN,27:22,...,3.0,3.0,4.0,5.0,0.0,1.0,3.0,2.0,-6.0,27.22
7081,22200195,1610612755,PHI,Philadelphia,1629680,Matisse Thybulle,Matisse,G,NaN,27:27,...,5.0,6.0,2.0,5.0,1.0,0.0,2.0,2.0,18.0,27.27
11225,22200029,1610612754,IND,Indiana,1630169,Tyrese Haliburton,Tyrese,G,NaN,32:03,...,2.0,4.0,10.0,5.0,0.0,1.0,2.0,24.0,1.0,32.03
1637,22200409,1610612755,PHI,Philadelphia,201935,James Harden,James,G,NaN,35:55,...,7.0,7.0,15.0,5.0,0.0,6.0,2.0,21.0,24.0,35.55
6036,22200237,1610612755,PHI,Philadelphia,1629001,De'Anthony Melton,De'Anthony,G,NaN,36:40,...,4.0,5.0,6.0,5.0,1.0,3.0,3.0,19.0,-2.0,36.40
2941,22200361,1610612748,MIA,Miami,200768,Kyle Lowry,Kyle,G,NaN,33:41,...,6.0,6.0,6.0,5.0,0.0,1.0,2.0,8.0,-16.0,33.41
11869,22200005,1610612737,ATL,Atlanta,1627749,Dejounte Murray,Dejounte,G,NaN,38:14,...,5.0,5.0,11.0,5.0,1.0,0.0,0.0,20.0,8.0,38.14
9116,22200110,1610612737,ATL,Atlanta,1627749,Dejounte Murray,Dejounte,G,NaN,38.000000:06,...,4.0,4.0,9.0,5.0,1.0,3.0,1.0,36.0,26.0,38.000000.06
1201,22200435,1610612750,MIN,Minnesota,203085,Austin Rivers,Austin,G,NaN,31:22,...,3.0,3.0,1.0,5.0,0.0,3.0,3.0,20.0,6.0,31.22
588,22200457,1610612740,NOP,New Orleans,1630529,Herbert Jones,Herbert,G,NaN,30:44,...,1.0,2.0,1.0,5.0,0.0,2.0,5.0,9.0,7.0,30.44
13263,12200037,1610612761,TOR,Toronto,1627832,Fred VanVleet,Fred,G,NaN,24:22,...,2.0,3.0,1.0,5.0,0.0,1.0,1.0,13.0,-8.0,24.22
9005,22200118,1610612753,ORL,Orlando,1630591,Jalen Suggs,Jalen,G,NaN,36:13,...,1.0,1.0,9.0,4.0,0.0,3.0,4.0,26.0,-3.0,36.13
3325,22200350,1610612741,CHI,Chicago,203897,Zach LaVine,Zach,G,NaN,35:52,...,6.0,8.0,2.0,4.0,0.0,2.0,1.0,41.0,1.0,35.52
5395,22200268,1610612743,DEN,Denver,1628971,Bruce Brown,Bruce,G,NaN,44:58,...,12.0,13.0,10.0,4.0,0.0,6.0,5.0,17.0,6.0,44.58
7844,22200165,1610612761,TOR,Toronto,1627832,Fred VanVleet,Fred,G,NaN,35:07,...,3.0,3.0,4.0,4.0,1.0,1.0,3.0,32.0,-1.0,35.07
9947,22200085,1610612749,MIL,Milwaukee,201950,Jrue Holiday,Jrue,G,NaN,36:40,...,2.0,2.0,12.0,4.0,1.0,3.0,3.0,34.0,12.0,36.40
5184,22200260,1610612755,PHI,Philadelphia,1629001,De'Anthony Melton,De'Anthony,G,NaN,36:32,...,6.0,6.0,3.0,4.0,0.0,5.0,2.0,20.0,-1.0,36.32
3761,22200334,1610612756,PHX,Phoenix,1626166,Cameron Payne,Cameron,G,NaN,36:56,...,1.0,1.0,12.0,4.0,0.0,4.0,1.0,20.0,6.0,36.56
4949,22200276,1610612754,IND,Indiana,1630169,Tyrese Haliburton,Tyrese,G,NaN,34:25,...,6.0,6.0,15.0,4.0,0.0,0.0,0.0,21.0,0.0,34.25

In [ ]:
highest_STL[highest_STL['']]

DETERMING THE NUMBER OF GAMES FOR A GIVEN TEAM BC IM CONFUSED BY THE DATA

In [107]:
# Only games that occurred in 2022
game_details_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14650,12200001,1610612764,WAS,Washington,1630225,Isaiah Todd,Isaiah,NaN,NaN,12:00,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,4.0,3.0,-4.0
14651,12200001,1610612764,WAS,Washington,201959,Taj Gibson,Taj,NaN,NaN,10:30,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,8.0,-1.0
14652,12200001,1610612764,WAS,Washington,1630176,Vernon Carey Jr.,Vernon,NaN,NaN,8:20,...,1.0,2.0,3.0,0.0,0.0,2.0,0.0,0.0,3.0,-6.0
14653,12200001,1610612764,WAS,Washington,203115,Will Barton,Will,NaN,DND - Injury/Illness,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14654,12200001,1610612764,WAS,Washington,1629653,Devon Dotson,Devon,NaN,NWT - Not With Team,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
# Note: There are 82 regular season games
# Choose one team, so you have all the games in the 2022 season a single team 
GSW_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='GSW']
GSW_games

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
153,22200470,1610612744,GSW,Golden State,1630228,Jonathan Kuminga,Jonathan,F,NaN,30:15,...,2.0,4.0,6.0,4.0,1.0,0.0,4.0,2.0,4.0,-23.0
154,22200470,1610612744,GSW,Golden State,203110,Draymond Green,Draymond,F,NaN,23:16,...,0.0,4.0,4.0,6.0,0.0,0.0,2.0,2.0,2.0,-27.0
155,22200470,1610612744,GSW,Golden State,1626172,Kevon Looney,Kevon,C,NaN,16:55,...,4.0,3.0,7.0,1.0,0.0,0.0,1.0,3.0,6.0,-10.0
156,22200470,1610612744,GSW,Golden State,1630541,Moses Moody,Moses,G,NaN,30:55,...,0.0,1.0,1.0,3.0,1.0,0.0,0.0,3.0,17.0,-14.0
157,22200470,1610612744,GSW,Golden State,1629673,Jordan Poole,Jordan,G,NaN,26:11,...,0.0,1.0,1.0,2.0,1.0,0.0,7.0,1.0,13.0,-31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14634,12200001,1610612744,GSW,Golden State,1630652,Trevion Williams,Trevion,NaN,NaN,2:42,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,-2.0
14635,12200001,1610612744,GSW,Golden State,2738,Andre Iguodala,Andre,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14636,12200001,1610612744,GSW,Golden State,1630644,Mac McClung,Mac,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14637,12200001,1610612744,GSW,Golden State,1630311,Pat Spencer,Pat,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14638,12200001,1610612744,GSW,Golden State,202691,Klay Thompson,Klay,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
# Now find all the unique game ids and count them, which should give us the total
# number of games played by a single team (82)
len(GSW_games['GAME_ID'].unique())
# Not the right number...

38

In [120]:
# Let's try another team as well...
BOS_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='BOS']
len(BOS_games['GAME_ID'].unique())

36

In [121]:
# And why not one more
SAS_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='SAS']
len(SAS_games['GAME_ID'].unique())

36

In [122]:
WAS_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='WAS']
len(WAS_games['GAME_ID'].unique())

37

In [123]:
# Well lets look at the games csv then
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [129]:
# Filter by season
games_2022 = games[games['SEASON']==2022]
games_2022

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,2022-10-02,12200005,Final,1610612738,1610612766,2022,1610612738,134.0,0.571,0.800,...,41.0,56.0,1610612766,93.0,0.347,0.643,0.152,13.0,43.0,1
538,2022-10-02,12200006,Final,1610612761,1610612762,2022,1610612761,114.0,0.483,0.667,...,20.0,61.0,1610612762,82.0,0.323,0.588,0.250,21.0,46.0,1
539,2022-10-02,12200007,Final,1610612745,1610612759,2022,1610612745,134.0,0.546,0.545,...,32.0,60.0,1610612759,96.0,0.355,0.655,0.262,21.0,44.0,1
540,2022-10-01,12200003,Final,1610612749,1610612763,2022,1610612749,102.0,0.430,0.714,...,22.0,50.0,1610612763,107.0,0.494,0.724,0.357,25.0,41.0,0
541,2022-09-30,12200001,Final,1610612764,1610612744,2022,1610612764,87.0,0.369,0.633,...,20.0,44.0,1610612744,96.0,0.367,0.775,0.269,18.0,62.0,0

In [131]:
# Filter for a specific team
games_2022_one_team = games_2022[games_2022['HOME_TEAM_ID']==1610612740]
games_2022_one_team

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
23,2022-12-19,22200457,Final,1610612740,1610612749,2022,1610612740,119.0,0.424,0.708,...,30.0,44.0,1610612749,128.0,0.556,0.806,0.325,26.0,44.0,0
77,2022-12-11,22200395,Final,1610612740,1610612756,2022,1610612740,129.0,0.581,0.750,...,31.0,43.0,1610612756,124.0,0.467,0.765,0.342,34.0,42.0,1
99,2022-12-09,22200384,Final,1610612740,1610612756,2022,1610612740,128.0,0.511,0.800,...,27.0,44.0,1610612756,117.0,0.500,0.692,0.500,30.0,37.0,1
113,2022-12-07,22200371,Final,1610612740,1610612765,2022,1610612740,104.0,0.459,0.783,...,21.0,50.0,1610612765,98.0,0.389,0.813,0.357,17.0,42.0,1
127,2022-12-04,22200344,Final,1610612740,1610612743,2022,1610612740,121.0,0.506,0.778,...,29.0,36.0,1610612743,106.0,0.506,0.667,0.258,24.0,43.0,1
160,2022-11-30,22200318,Final,1610612740,1610612761,2022,1610612740,126.0,0.523,0.846,...,28.0,52.0,1610612761,108.0,0.477,0.684,0.289,29.0,30.0,1
175,2022-11-28,22200304,Final,1610612740,1610612760,2022,1610612740,105.0,0.448,0.900,...,21.0,49.0,1610612760,101.0,0.370,0.913,0.316,16.0,47.0,1
228,2022-11-21,22200253,Final,1610612740,1610612744,2022,1610612740,128.0,0.538,0.714,...,30.0,50.0,1610612744,83.0,0.378,0.895,0.233,17.0,34.0,1
250,2022-11-18,22200231,Final,1610612740,1610612738,2022,1610612740,109.0,0.494,0.769,...,24.0,37.0,1610612738,117.0,0.482,0.882,0.435,28.0,46.0,0
263,2022-11-16,22200217,Final,1610612740,1610612741,2022,1610612740,124.0,0.506,0.875,...,30.0,46.0,1610612741,110.0,0.494,0.647,0.344,25.0,37.0,1
267,2022-11-15,22200206,Final,1610612740,1610612763,2022,1610612740,113.0,0.473,0.750,...,31.0,43.0,1610612763,102.0,0.413,0.680,0.257,16.0,51.0,1
293,2022-11-12,22200191,Final,1610612740,1610612745,2022,1610612740,119.0,0.488,0.871,...,28.0,36.0,1610612745,106.0,0.506,0.778,0.333,24.0,43.0,1
305,2022-11-10,22200175,Final,1610612740,1610612757,2022,1610612740,95.0,0.418,0.792,...,19.0,45.0,1610612757,106.0,0.435,0.769,0.353,25.0,46.0,0
354,2022-11-04,22200128,Final,1610612740,1610612744,2022,1610612740,114.0,0.506,0.690,...,24.0,37.0,1610612744,105.0,0.493,0.920,0.375,23.0,29.0,1
423,2022-10-25,22200053,Final,1610612740,1610612742,2022,1610612740,113.0,0.579,0.722,...,25.0,26.0,1610612742,111.0,0.500,0.708,0.308,18.0,37.0,1
437,2022-10-23,22200040,Final,1610612740,1610612762,2022,1610612740,121.0,0.471,0.773,...,30.0,45.0,1610612762,122.0,0.439,0.821,0.342,29.0,44.0,0
482,2022-10-14,12200067,Final,1610612740,1610612737,2022,1610612740,120.0,0.484,0.783,...,33.0,50.0,1610612737,111.0,0.483,0.667,0.333,33.0,43.0,1
516,2022-10-07,12200034,Final,1610612740,1610612765,2022,1610612740,107.0,0.447,0.676,...,21.0,47.0,1610612765,101.0,0.365,0.806,0.286,22.0,45.0,1

In [133]:
# UGH IM CONFUSED
len(games_2022_one_team['GAME_ID'])

19