In [1]:
# Dependencies
import pandas as pd
from pathlib import Path

In [80]:
# Creatings paths for csvs
games_details_path = Path('games_details.csv')
games_path = ('games.csv')
teams_path = ('teams.csv')
players_path = ('players.csv')
ranking_path = ('ranking.csv')

In [81]:
# Creating dataframes
games_details = pd.read_csv(games_details_path)
games = pd.read_csv(games_path)
teams = pd.read_csv(teams_path)
players = pd.read_csv(players_path)
ranking = pd.read_csv(ranking_path)

/var/folders/bb/4gpn5xfn0dqcx7v7w_7s2llc0000gn/T/ipykernel_1572/3756664733.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv(games_details_path)

In [4]:
# Display games_details dataframe
games_details

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,...,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,...,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,...,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,...,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,...,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [5]:
# Display games dataframe
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [6]:
# Generating an array of all the game IDs that occurred in the 2022 season
game_ids_2022 = games[games['SEASON'] == 2022]['GAME_ID'].unique()
game_ids_2022

array([22200477, 22200478, 22200466, 22200467, 22200468, 22200469,
       22200470, 22200471, 22200472, 22200473, 22200474, 22200475,
       22200476, 22200461, 22200462, 22200463, 22200464, 22200465,
       22200452, 22200453, 22200454, 22200455, 22200456, 22200457,
       22200458, 22200459, 22200460, 22200445, 22200446, 22200447,
       22200448, 22200449, 22200450, 22200451, 22200438, 22200439,
       22200440, 22200441, 22200442, 22200443, 22200444, 22200428,
       22200429, 22200430, 22200431, 22200432, 22200433, 22200434,
       22200435, 22200436, 22200437, 22200424, 22200425, 22200426,
       22200427, 22200414, 22200415, 22200416, 22200417, 22200418,
       22200419, 22200420, 22200421, 22200422, 22200423, 22200409,
       22200410, 22200411, 22200412, 22200413, 22200402, 22200403,
       22200404, 22200405, 22200406, 22200407, 22200408, 22200395,
       22200396, 22200397, 22200398, 22200399, 22200400, 22200401,
       22200387, 22200388, 22200389, 22200390, 22200391, 22200392,
       22200393, 22200394, 22200377, 22200378, 22200379, 22200380,
       22200381, 22200382, 22200383, 22200384, 22200385, 22200386,
       22200374, 22200375, 22200376, 22200363, 22200364, 22200365,
       22200366, 22200367, 22200368, 22200369, 22200370, 22200371,
       22200372, 22200373, 22200360, 22200361, 22200362, 22200352,
       22200353, 22200354, 22200355, 22200356, 22200357, 22200358,
       22200359, 22200344, 22200345, 22200346, 22200347, 22200348,
       22200349, 22200350, 22200351, 22200337, 22200338, 22200339,
       22200340, 22200341, 22200342, 22200343, 22200326, 22200327,
       22200328, 22200329, 22200330, 22200331, 22200332, 22200333,
       22200334, 22200335, 22200336, 22200325, 22200312, 22200313,
       22200314, 22200315, 22200316, 22200317, 22200318, 22200319,
       22200320, 22200321, 22200322, 22200323, 22200324, 22200309,
       22200310, 22200311, 22200299, 22200300, 22200301, 22200302,
       22200303, 22200304, 22200305, 22200306, 22200307, 22200308,
       22200290, 22200291, 22200292, 22200293, 22200294, 22200295,
       22200296, 22200297, 22200298, 22200286, 22200287, 22200288,
       22200289, 22200272, 22200273, 22200274, 22200275, 22200276,
       22200277, 22200278, 22200279, 22200280, 22200281, 22200282,
       22200283, 22200284, 22200285, 22200260, 22200261, 22200262,
       22200263, 22200264, 22200265, 22200266, 22200267, 22200268,
       22200269, 22200270, 22200271, 22200256, 22200257, 22200258,
       22200259, 22200248, 22200249, 22200250, 22200251, 22200252,
       22200253, 22200254, 22200255, 22200240, 22200241, 22200242,
       22200243, 22200244, 22200245, 22200246, 22200247, 22200235,
       22200237, 22200238, 22200239, 22200224, 22200225, 22200226,
       22200227, 22200228, 22200229, 22200230, 22200231, 22200232,
       22200233, 22200234, 22200221, 22200222, 22200223, 22200211,
       22200212, 22200213, 22200214, 22200215, 22200216, 22200217,
       22200218, 22200219, 22200220, 22200206, 22200207, 22200208,
       22200209, 22200210, 22200199, 22200200, 22200201, 22200202,
       22200203, 22200204, 22200205, 22200192, 22200193, 22200194,
       22200195, 22200196, 22200197, 22200198, 22200184, 22200185,
       22200186, 22200187, 22200188, 22200189, 22200190, 22200191,
       22200176, 22200177, 22200178, 22200179, 22200180, 22200181,
       22200182, 22200183, 22200172, 22200173, 22200174, 22200175,
       22200161, 22200159, 22200160, 22200162, 22200163, 22200164,
       22200165, 22200166, 22200167, 22200168, 22200169, 22200170,
       22200171, 22200144, 22200145, 22200146, 22200147, 22200148,
       22200149, 22200150, 22200151, 22200152, 22200153, 22200154,
       22200155, 22200156, 22200157, 22200158, 22200140, 22200141,
       22200142, 22200143, 22200132, 22200133, 22200134, 22200135,
       22200136, 22200137, 22200138, 22200139, 22200120, 22200121,
       22200122, 22200123, 22200124, 22200125, 22200126, 22200127,
       22200128, 22200129, 22200130, 22200131, 22200118, 22200119,
       22200108, 22200107, 22200109, 22200110, 22200111, 22200112,
       22200113, 22200114, 22200115, 22200116, 22200117, 22200103,
       22200104, 22200105, 22200106, 22200096, 22200097, 22200098,
       22200099, 22200100, 22200101, 22200102, 22200088, 22200089,
       22200090, 22200091, 22200092, 22200093, 22200094, 22200095,
       22200081, 22200082, 22200083, 22200084, 22200085, 22200086,
       22200087, 22200070, 22200071, 22200072, 22200073, 22200074,
       22200075, 22200076, 22200077, 22200078, 22200079, 22200080,
       22200066, 22200067, 22200068, 22200069, 22200056, 22200057,
       22200058, 22200059, 22200060, 22200061, 22200062, 22200063,
       22200064, 22200065, 22200052, 22200053, 22200054, 22200055,
       22200044, 22200045, 22200046, 22200047, 22200048, 22200049,
       22200050, 22200051, 22200037, 22200038, 22200039, 22200040,
       22200041, 22200042, 22200043, 22200028, 22200029, 22200030,
       22200031, 22200032, 22200033, 22200034, 22200035, 22200036,
       22200017, 22200018, 22200019, 22200020, 22200021, 22200022,
       22200023, 22200024, 22200025, 22200026, 22200027, 22200015,
       22200016, 22200003, 22200004, 22200005, 22200006, 22200007,
       22200008, 22200009, 22200010, 22200011, 22200012, 22200013,
       22200014, 22200001, 22200002, 12200062, 12200063, 12200064,
       12200065, 12200066, 12200067, 12200068, 12200069, 12200070,
       12200060, 12200061, 12200052, 12200053, 12200054, 12200055,
       12200056, 12200057, 12200058, 12200059, 12200047, 12200048,
       12200049, 12200050, 12200051, 12200043, 12200044, 12200045,
       12200046, 12200037, 12200039, 12200040, 12200041, 12200042,
       12200036, 12200029, 12200030, 12200031, 12200032, 12200033,
       12200034, 12200035, 12200023, 12200024, 12200026, 12200028,
       12200018, 12200019, 12200020, 12200021, 12200022, 12200014,
       12200015, 12200016, 12200017, 12200009, 12200010, 12200011,
       12200012, 12200013, 12200004, 12200005, 12200006, 12200007,
       12200003, 12200001])

In [11]:
# Restricting the games_details df to games that only occurred in the 2022 season
# using the game_ids_2022 array and dropping NAs, so that only starters are included
game_details_2022 = games_details[games_details['GAME_ID'].isin(game_ids_2022)]
game_details_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14650,12200001,1610612764,WAS,Washington,1630225,Isaiah Todd,Isaiah,NaN,NaN,12:00,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,4.0,3.0,-4.0
14651,12200001,1610612764,WAS,Washington,201959,Taj Gibson,Taj,NaN,NaN,10:30,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,8.0,-1.0
14652,12200001,1610612764,WAS,Washington,1630176,Vernon Carey Jr.,Vernon,NaN,NaN,8:20,...,1.0,2.0,3.0,0.0,0.0,2.0,0.0,0.0,3.0,-6.0
14653,12200001,1610612764,WAS,Washington,203115,Will Barton,Will,NaN,DND - Injury/Illness,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14654,12200001,1610612764,WAS,Washington,1629653,Devon Dotson,Devon,NaN,NWT - Not With Team,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Restricting df to only include starters
starters_2022 = game_details_2022.dropna(subset=['START_POSITION'])
starters_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,0.0,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,0.0,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,0.0,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,2.0,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,1.0,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0

DEALING WITH MINUTES DIBOCLE

In [22]:
# Examining MIN column
starters_2022[['PLAYER_NAME','MIN']]

              PLAYER_NAME    MIN
0          Romeo Langford  18:06
1           Jeremy Sochan  31:01
2            Jakob Poeltl  21:42
3           Devin Vassell  30:20
4               Tre Jones  27:44
...                   ...    ...
14639          Kyle Kuzma  20:04
14640       Rui Hachimura  25:10
14641  Kristaps Porzingis  21:15
14642        Bradley Beal  17:34
14643        Monte Morris  18:19

[5420 rows x 2 columns]

In [25]:
# Replacing the colon in MIN with a period so that it can be converted to a float
starters_2022['MIN_float'] = starters_2022['MIN'].str.replace(":", ".")
starters_2022

/var/folders/bb/4gpn5xfn0dqcx7v7w_7s2llc0000gn/T/ipykernel_1572/648287319.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  starters_2022['MIN_float'] = starters_2022['MIN'].str.replace(":", ".")

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,18.06
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,31.01
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,21.42
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0,20.04
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0,25.10
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0,21.15
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [30]:
# Got an error when attempting to cast the new MIN column into a float bc there was
# a weird value, so i'm finding that, and then deciding what to do...
starters_2022[starters_2022['MIN_float']=='29.000000.24']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
422,22200465,1610612763,MEM,Memphis,1628415,Dillon Brooks,Dillon,F,NaN,29.000000:24,...,7.0,7.0,1.0,3.0,0.0,1.0,5.0,11.0,-21.0,29.000000.24

In [38]:
# Changing the weird value into what i believe it should be
known_index = 422
starters_2022.at[known_index,'MIN_float'] = '29.24'

# Checking to make sure it actually changed
starters_2022[starters_2022['MIN']=='29.000000:24']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
422,22200465,1610612763,MEM,Memphis,1628415,Dillon Brooks,Dillon,F,NaN,29.000000:24,...,7.0,7.0,1.0,3.0,0.0,1.0,5.0,11.0,-21.0,29.24

# Define the regular expression pattern
pattern = r'^\d{2}\.0{6}\.\d+\.\d+$'

# Use str.contains() with the regular expression pattern to filter the DataFrame
odd_values = df[df['Minutes'].str.contains(pattern)]

#

In [41]:
# Found another one of these weird values appear, so I'm checking the rest of the column
# to see just how many there are
pattern = r'^\d{2}\.0{6}\.\d+\.\d+$'
starters_2022_cleaned = starters_2022[starters_2022['MIN'].str.contains(pattern)]
starters_2022_cleaned

Empty DataFrame
Columns: [GAME_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_CITY, PLAYER_ID, PLAYER_NAME, NICKNAME, START_POSITION, COMMENT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, MIN_float]
Index: []

[0 rows x 30 columns]

In [ ]:
df['ModifiedTime'] = df['ModifiedTime'].astype(float)

In [39]:

starters_2022['MIN_float'] = starters_2022['MIN_float'].astype(float)
starters_2022

ValueError: could not convert string to float: '21.000000.45'

In [ ]:
.astype(float)

CONTINUING WORK ON STARTERS STATS

In [14]:
# Creating a list of the columns in the games_details df so i can easily select the 
# relevant columns in the following step
games_details.columns.to_list()

['GAME_ID',
 'TEAM_ID',
 'TEAM_ABBREVIATION',
 'TEAM_CITY',
 'PLAYER_ID',
 'PLAYER_NAME',
 'NICKNAME',
 'START_POSITION',
 'COMMENT',
 'MIN',
 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PF',
 'PTS',
 'PLUS_MINUS']

In [15]:
starters_stats_2022 = starters_2022[['PLAYER_NAME', 'FGM',
 'FGA',
 'FG_PCT',
 'FG3M',
 'FG3A',
 'FG3_PCT',
 'FTM',
 'FTA',
 'FT_PCT',
 'OREB',
 'DREB',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PF',
 'PTS']]
starters_stats_2022

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,Romeo Langford,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0
1,Jeremy Sochan,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0
2,Jakob Poeltl,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0
3,Devin Vassell,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0
4,Tre Jones,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,Kyle Kuzma,3.0,9.0,0.333,1.0,5.0,0.200,0.0,0.0,0.000,0.0,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0
14640,Rui Hachimura,5.0,9.0,0.556,0.0,4.0,0.000,3.0,7.0,0.429,0.0,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0
14641,Kristaps Porzingis,3.0,10.0,0.300,0.0,6.0,0.000,1.0,2.0,0.500,0.0,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0
14642,Bradley Beal,4.0,8.0,0.500,1.0,4.0,0.250,0.0,0.0,0.000,2.0,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0
14643,Monte Morris,4.0,10.0,0.400,1.0,4.0,0.250,0.0,0.0,0.000,1.0,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0

In [17]:
# Getting the averages of each of the stats for every player
starters_avgs_2022 = starters_stats_2022.groupby('PLAYER_NAME').mean().reset_index()
starters_avgs_2022

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
0,AJ Griffin,5.875000,13.000000,0.460250,2.125000,6.625000,0.361250,0.625000,0.875000,0.375000,0.875000,1.500000,2.375000,1.375000,1.500000,0.250000,1.500000,1.500000,14.500000
1,Aaron Gordon,6.354839,10.548387,0.590677,1.000000,2.516129,0.388677,2.838710,4.225806,0.603258,2.290323,4.129032,6.419355,2.161290,0.935484,0.741935,1.516129,1.806452,16.548387
2,Aaron Holiday,1.666667,5.000000,0.333000,0.333333,1.333333,0.166667,0.666667,0.666667,0.333333,0.666667,1.666667,2.333333,2.000000,1.666667,0.000000,0.666667,1.333333,4.333333
3,Aaron Nesmith,3.562500,8.062500,0.445125,1.500000,4.437500,0.319000,1.375000,1.562500,0.529000,0.812500,3.375000,4.187500,1.062500,0.937500,0.625000,1.125000,3.375000,10.000000
4,Aaron Wiggins,3.714286,7.857143,0.503143,0.714286,2.428571,0.250000,1.857143,2.142857,0.614286,1.428571,3.857143,5.285714,2.285714,1.000000,0.285714,0.857143,2.285714,10.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,Willy Hernangomez,7.000000,10.000000,0.700000,0.000000,1.000000,0.000000,3.000000,4.000000,0.750000,2.000000,5.000000,7.000000,1.000000,1.000000,0.000000,4.000000,4.000000,17.000000
348,Zach Collins,3.714286,7.571429,0.525286,0.285714,2.428571,0.190429,1.142857,1.857143,0.442857,1.857143,4.428571,6.285714,3.428571,0.571429,0.285714,3.142857,5.285714,8.857143
349,Zach LaVine,7.366667,16.566667,0.443600,2.633333,7.200000,0.365233,3.066667,3.733333,0.710133,0.533333,3.600000,4.133333,4.133333,1.100000,0.033333,2.633333,2.266667,20.433333
350,Ziaire Williams,4.000000,10.000000,0.400000,2.000000,3.000000,0.667000,1.000000,2.000000,0.500000,0.000000,5.000000,5.000000,2.000000,0.000000,0.000000,1.000000,1.000000,11.000000
351,Zion Williamson,8.862069,14.862069,0.595655,0.241379,0.655172,0.149448,5.275862,7.586207,0.712034,1.931034,4.793103,6.724138,4.448276,1.137931,0.551724,2.931034,2.137931,23.241379

In [19]:
# Finding players with the highest FGM
highest_FGM = starters_avgs_2022.sort_values(by='FGM', ascending=False)
highest_FGM

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
200,Kemba Walker,12.000000,25.000000,0.480000,4.000000,13.000000,0.308000,4.000000,6.000000,0.667000,0.000000,5.000000,5.000000,7.000000,0.000000,1.000000,2.000000,2.000000,32.000000
114,Giannis Antetokounmpo,10.964286,20.928571,0.519107,0.750000,3.000000,0.263107,8.178571,12.607143,0.647500,2.035714,9.107143,11.142857,4.964286,0.892857,0.928571,3.642857,3.571429,30.857143
229,Luka Doncic,10.741935,21.612903,0.502161,2.806452,8.129032,0.348097,7.129032,9.709677,0.717742,0.774194,7.161290,7.935484,8.451613,1.612903,0.645161,3.580645,2.612903,31.419355
208,Kevin Durant,10.314286,18.514286,0.557571,1.685714,4.657143,0.349086,6.485714,7.085714,0.891486,0.285714,5.942857,6.228571,5.171429,0.885714,1.542857,3.514286,2.228571,28.800000
307,Shai Gilgeous-Alexander,10.310345,20.689655,0.498034,1.000000,3.000000,0.317241,9.551724,10.275862,0.938966,0.793103,3.862069,4.655172,5.724138,1.689655,1.000000,3.413793,2.586207,31.172414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,Damian Jones,0.666667,3.666667,0.166667,0.000000,0.333333,0.000000,2.333333,3.333333,0.611000,1.666667,3.000000,4.666667,0.666667,0.000000,1.333333,1.333333,2.333333,3.666667
58,Cory Joseph,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.500000,0.000000,1.500000,1.500000,3.500000,0.000000,0.000000,0.000000,4.000000,1.000000
159,Jaylin Williams,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,4.000000,0.250000,0.000000,11.000000,11.000000,2.000000,0.000000,1.000000,0.000000,3.000000,1.000000
339,Udonis Haslem,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
72,Davon Reed,0.000000,7.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,4.000000,2.000000,0.000000,0.000000,2.000000,2.000000,0.000000

In [20]:
# Finding players with the highest FGA
higest_FGA = starters_avgs_2022.sort_values(by='FGA', ascending=False)
higest_FGA

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
200,Kemba Walker,12.000000,25.000000,0.480000,4.000000,13.000000,0.308000,4.000000,6.000000,0.667000,0.000000,5.000000,5.000000,7.000000,0.000000,1.000000,2.000000,2.000000,32.000000
229,Luka Doncic,10.741935,21.612903,0.502161,2.806452,8.129032,0.348097,7.129032,9.709677,0.717742,0.774194,7.161290,7.935484,8.451613,1.612903,0.645161,3.580645,2.612903,31.419355
88,Devin Booker,9.800000,20.933333,0.454567,2.400000,6.600000,0.397067,5.533333,6.433333,0.871067,0.800000,3.866667,4.666667,5.466667,0.933333,0.400000,2.433333,2.800000,27.533333
114,Giannis Antetokounmpo,10.964286,20.928571,0.519107,0.750000,3.000000,0.263107,8.178571,12.607143,0.647500,2.035714,9.107143,11.142857,4.964286,0.892857,0.928571,3.642857,3.571429,30.857143
307,Shai Gilgeous-Alexander,10.310345,20.689655,0.498034,1.000000,3.000000,0.317241,9.551724,10.275862,0.938966,0.793103,3.862069,4.655172,5.724138,1.689655,1.000000,3.413793,2.586207,31.172414
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,Robin Lopez,1.000000,2.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,2.000000
91,Dewayne Dedmon,1.000000,2.000000,0.500000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,4.000000,5.000000,0.000000,0.000000,1.000000,2.000000,4.000000,2.000000
58,Cory Joseph,0.000000,2.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.500000,0.000000,1.500000,1.500000,3.500000,0.000000,0.000000,0.000000,4.000000,1.000000
259,Moussa Diabate,1.000000,2.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000
159,Jaylin Williams,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,4.000000,0.250000,0.000000,11.000000,11.000000,2.000000,0.000000,1.000000,0.000000,3.000000,1.000000

In [21]:
# Finding players with the highest FG_PCT
highest_FG_PCT = starters_avgs_2022.sort_values(by='FG_PCT', ascending=False)
highest_FG_PCT

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
165,Jericho Sims,2.5,2.50,1.00000,0.0,0.0,0.00,0.50,1.00,0.2500,2.00,3.00,5.00,0.00,0.5,2.00,0.50,4.0,5.50
23,Bismack Biyombo,3.0,3.75,0.82500,0.0,0.0,0.00,1.25,2.75,0.3375,1.25,3.75,5.00,0.75,0.0,2.75,1.00,2.5,7.25
242,Marques Bolden,9.0,11.00,0.81800,3.0,4.0,0.75,0.00,0.00,0.0000,2.00,3.00,5.00,2.00,1.0,2.00,1.00,4.0,21.00
342,Walker Kessler,4.6,5.80,0.80220,0.0,0.0,0.00,0.60,1.60,0.2500,3.60,5.80,9.40,0.80,0.4,2.20,1.00,3.4,9.80
98,Drew Eubanks,3.5,4.25,0.77675,0.0,0.0,0.00,0.75,1.50,0.2500,2.00,5.75,7.75,2.00,0.5,1.25,0.75,3.5,7.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,Keon Johnson,1.0,8.00,0.12500,0.0,4.0,0.00,2.00,4.00,0.5000,1.00,2.00,3.00,5.00,1.0,0.00,3.00,1.0,4.00
339,Udonis Haslem,0.0,4.00,0.00000,0.0,0.0,0.00,0.00,0.00,0.0000,1.00,1.00,2.00,0.00,0.0,0.00,0.00,3.0,0.00
159,Jaylin Williams,0.0,1.00,0.00000,0.0,1.0,0.00,1.00,4.00,0.2500,0.00,11.00,11.00,2.00,0.0,1.00,0.00,3.0,1.00
72,Davon Reed,0.0,7.00,0.00000,0.0,5.0,0.00,0.00,0.00,0.0000,1.00,3.00,4.00,2.00,0.0,0.00,2.00,2.0,0.00
58,Cory Joseph,0.0,2.00,0.00000,0.0,1.0,0.00,1.00,1.00,0.5000,0.00,1.50,1.50,3.50,0.0,0.00,0.00,4.0,1.00

In [42]:
highest_STL = starters_avgs_2022.sort_values(by='STL', ascending=False)
highest_STL

,PLAYER_NAME,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS
340,Usman Garuba,2.000000,3.000000,0.667000,1.0,1.0,1.000,1.000000,2.00,0.500000,4.000000,4.000000,8.00,2.000000,4.0,0.00,2.000000,2.0,6.0
202,Kennedy Chandler,4.000000,6.000000,0.667000,1.0,2.0,0.500,2.000000,3.00,0.667000,0.000000,4.000000,4.00,8.000000,4.0,0.00,3.000000,3.0,11.0
177,Jordan Goodwin,4.666667,9.666667,0.482333,1.0,3.0,0.300,1.666667,3.00,0.527667,0.666667,2.333333,3.00,5.333333,3.0,0.00,1.333333,2.0,12.0
168,Jock Landale,7.000000,14.000000,0.500000,2.0,6.0,0.333,1.000000,1.00,1.000000,2.000000,6.000000,8.00,3.000000,3.0,4.00,4.000000,4.0,17.0
302,Sandro Mamukelashvili,3.000000,9.000000,0.333000,1.0,5.0,0.200,6.000000,9.00,0.667000,1.000000,8.000000,9.00,4.000000,3.0,0.00,1.000000,1.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Isaiah Roby,4.000000,7.000000,0.571000,1.0,2.0,0.500,0.000000,0.00,0.000000,1.000000,2.000000,3.00,2.000000,0.0,0.00,1.000000,1.0,9.0
70,David Roddy,2.000000,8.000000,0.250000,0.0,3.0,0.000,2.000000,2.00,1.000000,1.000000,4.000000,5.00,2.000000,0.0,2.00,0.000000,1.0,6.0
136,Jaden Hardy,2.000000,10.000000,0.200000,1.0,5.0,0.200,1.000000,2.00,0.500000,0.000000,3.000000,3.00,2.000000,0.0,0.00,1.000000,5.0,6.0
293,Robin Lopez,1.000000,2.000000,0.500000,0.0,0.0,0.000,0.000000,0.00,0.000000,1.000000,0.000000,1.00,0.000000,0.0,0.00,0.000000,2.0,2.0
161,Jeff Green,3.000000,5.750000,0.607250,0.0,1.0,0.000,2.500000,2.75,0.750000,0.250000,1.000000,1.25,1.000000,0.0,0.25,1.000000,2.0,8.5

DETERMING A WAY TO CALCULATE WHO THE BEST PLAYERS ARE BASED ON FANTASY POINT SYSTEM


Points Scored	
1 Points
Total Rebounds	
1.2 Points
Assists	
1.5 Points
Steals	
3 Points
Blocked Shots	
3 Points
Turnovers	
-1 Points

In [62]:
starters_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,18.06
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,31.01
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,21.42
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0,20.04
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0,25.10
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0,21.15
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [64]:
# Create a dataframe with the columns relevant to fantasy points
fantasy_score = starters_2022[['PLAYER_NAME',
 'REB',
 'AST',
 'STL',
 'BLK',
 'TO',
 'PTS']]
fantasy_score

              PLAYER_NAME  REB  AST  STL  BLK   TO   PTS
0          Romeo Langford  2.0  0.0  1.0  0.0  2.0   2.0
1           Jeremy Sochan  9.0  6.0  1.0  0.0  2.0  23.0
2            Jakob Poeltl  4.0  1.0  1.0  0.0  2.0  13.0
3           Devin Vassell  9.0  5.0  3.0  0.0  2.0  10.0
4               Tre Jones  2.0  3.0  0.0  0.0  2.0  19.0
...                   ...  ...  ...  ...  ...  ...   ...
14639          Kyle Kuzma  4.0  1.0  0.0  1.0  3.0   7.0
14640       Rui Hachimura  9.0  0.0  1.0  0.0  1.0  13.0
14641  Kristaps Porzingis  4.0  4.0  4.0  1.0  1.0   7.0
14642        Bradley Beal  2.0  3.0  2.0  0.0  2.0   9.0
14643        Monte Morris  1.0  5.0  1.0  0.0  2.0   9.0

[5420 rows x 7 columns]

In [68]:
fantasy_score_grouped = fantasy_score.groupby('PLAYER_NAME').sum().reset_index()
fantasy_score_grouped

           PLAYER_NAME    REB    AST   STL   BLK    TO    PTS
0           AJ Griffin   19.0   11.0  12.0   2.0  12.0  116.0
1         Aaron Gordon  199.0   67.0  29.0  23.0  47.0  513.0
2        Aaron Holiday    7.0    6.0   5.0   0.0   2.0   13.0
3        Aaron Nesmith   67.0   17.0  15.0  10.0  18.0  160.0
4        Aaron Wiggins   37.0   16.0   7.0   2.0   6.0   70.0
..                 ...    ...    ...   ...   ...   ...    ...
347  Willy Hernangomez    7.0    1.0   1.0   0.0   4.0   17.0
348       Zach Collins   44.0   24.0   4.0   2.0  22.0   62.0
349        Zach LaVine  124.0  124.0  33.0   1.0  79.0  613.0
350    Ziaire Williams    5.0    2.0   0.0   0.0   1.0   11.0
351    Zion Williamson  195.0  129.0  33.0  16.0  85.0  674.0

[352 rows x 7 columns]

In [69]:
# Perform calculations on each column based on fantasy point system
fantasy_score_grouped['REB'] = fantasy_score_grouped['REB'] * 1.2
fantasy_score_grouped['AST'] = fantasy_score_grouped['AST'] * 1.5
fantasy_score_grouped['STL'] = fantasy_score_grouped['STL'] * 3
fantasy_score_grouped['BLK'] = fantasy_score_grouped['BLK'] * 3
fantasy_score_grouped['TO'] = fantasy_score_grouped['TO'] * -1
fantasy_score_grouped['PTS'] = fantasy_score_grouped['PTS'] * 1
fantasy_score_grouped

           PLAYER_NAME    REB    AST   STL   BLK    TO    PTS
0           AJ Griffin   22.8   16.5  36.0   6.0 -12.0  116.0
1         Aaron Gordon  238.8  100.5  87.0  69.0 -47.0  513.0
2        Aaron Holiday    8.4    9.0  15.0   0.0  -2.0   13.0
3        Aaron Nesmith   80.4   25.5  45.0  30.0 -18.0  160.0
4        Aaron Wiggins   44.4   24.0  21.0   6.0  -6.0   70.0
..                 ...    ...    ...   ...   ...   ...    ...
347  Willy Hernangomez    8.4    1.5   3.0   0.0  -4.0   17.0
348       Zach Collins   52.8   36.0  12.0   6.0 -22.0   62.0
349        Zach LaVine  148.8  186.0  99.0   3.0 -79.0  613.0
350    Ziaire Williams    6.0    3.0   0.0   0.0  -1.0   11.0
351    Zion Williamson  234.0  193.5  99.0  48.0 -85.0  674.0

[352 rows x 7 columns]

In [70]:
# Create a new column with the total fantasy points
fantasy_score_grouped['Fantasy_Score'] = fantasy_score_grouped[
    'REB'] + fantasy_score_grouped['AST'] + fantasy_score_grouped[
        'AST'] + fantasy_score_grouped['STL'] + fantasy_score_grouped[
            'BLK'] + fantasy_score_grouped['TO'] + fantasy_score_grouped['PTS']

fantasy_score_grouped

           PLAYER_NAME    REB    AST   STL   BLK    TO    PTS  Fantasy_Score
0           AJ Griffin   22.8   16.5  36.0   6.0 -12.0  116.0          201.8
1         Aaron Gordon  238.8  100.5  87.0  69.0 -47.0  513.0         1061.8
2        Aaron Holiday    8.4    9.0  15.0   0.0  -2.0   13.0           52.4
3        Aaron Nesmith   80.4   25.5  45.0  30.0 -18.0  160.0          348.4
4        Aaron Wiggins   44.4   24.0  21.0   6.0  -6.0   70.0          183.4
..                 ...    ...    ...   ...   ...   ...    ...            ...
347  Willy Hernangomez    8.4    1.5   3.0   0.0  -4.0   17.0           27.4
348       Zach Collins   52.8   36.0  12.0   6.0 -22.0   62.0          182.8
349        Zach LaVine  148.8  186.0  99.0   3.0 -79.0  613.0         1156.8
350    Ziaire Williams    6.0    3.0   0.0   0.0  -1.0   11.0           22.0
351    Zion Williamson  234.0  193.5  99.0  48.0 -85.0  674.0         1357.0

[352 rows x 8 columns]

In [71]:
# Find players with highest fantasy score
best_fantasy_players = fantasy_score_grouped.sort_values(
    by='Fantasy_Score', ascending=False)
best_fantasy_players

        PLAYER_NAME    REB    AST    STL    BLK     TO     PTS  Fantasy_Score
229     Luka Doncic  295.2  393.0  150.0   60.0 -111.0   974.0         2154.2
208    Kevin Durant  261.6  271.5   93.0  162.0 -123.0  1008.0         1944.6
266    Nikola Jokic  370.8  394.5  132.0   57.0 -112.0   689.0         1925.8
326      Trae Young  106.8  460.5   72.0   15.0 -126.0   883.0         1871.8
160    Jayson Tatum  321.6  202.5  108.0   84.0  -91.0   972.0         1799.6
..              ...    ...    ...    ...    ...    ...     ...            ...
72       Davon Reed    4.8    3.0    0.0    0.0   -2.0     0.0            8.8
184     Josh Okogie    1.2    1.5    0.0    0.0   -3.0     6.0            7.2
259  Moussa Diabate    2.4    0.0    0.0    0.0   -0.0     2.0            4.4
293     Robin Lopez    1.2    0.0    0.0    0.0   -0.0     2.0            3.2
339   Udonis Haslem    2.4    0.0    0.0    0.0   -0.0     0.0            2.4

[352 rows x 8 columns]

WORKING ON SOMETHING ELSE, LOOKING AT DIFFERENT POSITIONS

In [43]:
starters_2022[starters_2022['START_POSITION']=='PG']

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,18.06
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,31.01
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,21.42
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14639,12200001,1610612764,WAS,Washington,1628398,Kyle Kuzma,Kyle,F,NaN,20:04,...,4.0,4.0,1.0,0.0,1.0,3.0,3.0,7.0,-11.0,20.04
14640,12200001,1610612764,WAS,Washington,1629060,Rui Hachimura,Rui,F,NaN,25:10,...,9.0,9.0,0.0,1.0,0.0,1.0,0.0,13.0,-3.0,25.10
14641,12200001,1610612764,WAS,Washington,204001,Kristaps Porzingis,Kristaps,C,NaN,21:15,...,4.0,4.0,4.0,4.0,1.0,1.0,5.0,7.0,1.0,21.15
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [49]:
len(starters_2022[starters_2022['PLAYER_NAME']=='Kevon Looney'])

37

In [45]:
starters_2022['START_POSITION'].unique()

array(['F', 'C', 'G'], dtype=object)

In [51]:
gaurds_2022 = starters_2022[starters_2022['START_POSITION']=='G']
gaurds_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,30.20
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,27.44
17,22200477,1610612740,NOP,New Orleans,1630529,Herbert Jones,Herbert,G,NaN,34:26,...,2.0,3.0,2.0,2.0,1.0,2.0,2.0,12.0,16.0,34.26
18,22200477,1610612740,NOP,New Orleans,203468,CJ McCollum,CJ,G,NaN,37:11,...,7.0,8.0,9.0,1.0,2.0,5.0,1.0,40.0,23.0,37.11
28,22200478,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,31:05,...,4.0,5.0,5.0,0.0,0.0,2.0,2.0,30.0,4.0,31.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14603,12200003,1610612749,MIL,Milwaukee,201950,Jrue Holiday,Jrue,G,NaN,15:12,...,3.0,3.0,3.0,1.0,0.0,2.0,0.0,5.0,3.0,15.12
14622,12200001,1610612744,GSW,Golden State,1629673,Jordan Poole,Jordan,G,NaN,19:10,...,5.0,5.0,1.0,1.0,1.0,1.0,1.0,5.0,4.0,19.10
14623,12200001,1610612744,GSW,Golden State,201939,Stephen Curry,Stephen,G,NaN,13:05,...,3.0,3.0,2.0,0.0,0.0,4.0,0.0,6.0,-2.0,13.05
14642,12200001,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,17:34,...,0.0,2.0,3.0,2.0,0.0,2.0,1.0,9.0,0.0,17.34
14643,12200001,1610612764,WAS,Washington,1628420,Monte Morris,Monte,G,NaN,18:19,...,0.0,1.0,5.0,1.0,0.0,2.0,3.0,9.0,-6.0,18.19

In [54]:
gaurds_2022.sort_values(by='STL', ascending=False).head(30)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_float
10184,22200076,1610612750,MIN,Minnesota,1626156,D'Angelo Russell,D'Angelo,G,NaN,30:49,...,4.0,4.0,7.0,7.0,1.0,2.0,1.0,11.0,12.0,30.49
2436,22200382,1610612755,PHI,Philadelphia,1629001,De'Anthony Melton,De'Anthony,G,NaN,43:04,...,4.0,4.0,2.0,7.0,0.0,2.0,1.0,33.0,3.0,43.04
4454,22200307,1610612756,PHX,Phoenix,1626164,Devin Booker,Devin,G,NaN,40:39,...,8.0,8.0,4.0,6.0,0.0,6.0,4.0,44.0,14.0,40.39
2814,22200370,1610612750,MIN,Minnesota,1630162,Anthony Edwards,Anthony,G,NaN,35:01,...,7.0,8.0,8.0,6.0,0.0,6.0,3.0,26.0,-4.0,35.01
9443,22200096,1610612766,CHA,Charlotte,1628372,Dennis Smith Jr.,Dennis,G,NaN,36:38,...,5.0,7.0,8.0,6.0,1.0,4.0,4.0,15.0,-1.0,36.38
9601,22200102,1610612746,LAC,LA,202331,Paul George,Paul,G,NaN,37:58,...,9.0,9.0,8.0,6.0,2.0,3.0,3.0,35.0,16.0,37.58
2171,22200389,1610612764,WAS,Washington,1630692,Jordan Goodwin,Jordan,G,NaN,38:02,...,2.0,4.0,6.0,6.0,0.0,1.0,3.0,17.0,5.0,38.02
7220,22200186,1610612738,BOS,Boston,203935,Marcus Smart,Marcus,G,NaN,43:01,...,1.0,2.0,10.0,5.0,1.0,1.0,1.0,18.0,4.0,43.01
5834,22200241,1610612764,WAS,Washington,203078,Bradley Beal,Bradley,G,NaN,40:33,...,4.0,4.0,5.0,5.0,0.0,5.0,4.0,26.0,4.0,40.33
6132,22200225,1610612739,CLE,Cleveland,1629636,Darius Garland,Darius,G,NaN,48:13,...,1.0,1.0,6.0,5.0,1.0,8.0,5.0,41.0,23.0,48.13
11718,22200027,1610612756,PHX,Phoenix,101108,Chris Paul,Chris,G,NaN,36:09,...,4.0,4.0,12.0,5.0,0.0,1.0,5.0,10.0,0.0,36.09
11787,22200016,1610612747,LAL,Los Angeles,201566,Russell Westbrook,Russell,G,NaN,27:22,...,3.0,3.0,4.0,5.0,0.0,1.0,3.0,2.0,-6.0,27.22
7081,22200195,1610612755,PHI,Philadelphia,1629680,Matisse Thybulle,Matisse,G,NaN,27:27,...,5.0,6.0,2.0,5.0,1.0,0.0,2.0,2.0,18.0,27.27
11225,22200029,1610612754,IND,Indiana,1630169,Tyrese Haliburton,Tyrese,G,NaN,32:03,...,2.0,4.0,10.0,5.0,0.0,1.0,2.0,24.0,1.0,32.03
1637,22200409,1610612755,PHI,Philadelphia,201935,James Harden,James,G,NaN,35:55,...,7.0,7.0,15.0,5.0,0.0,6.0,2.0,21.0,24.0,35.55
6036,22200237,1610612755,PHI,Philadelphia,1629001,De'Anthony Melton,De'Anthony,G,NaN,36:40,...,4.0,5.0,6.0,5.0,1.0,3.0,3.0,19.0,-2.0,36.40
2941,22200361,1610612748,MIA,Miami,200768,Kyle Lowry,Kyle,G,NaN,33:41,...,6.0,6.0,6.0,5.0,0.0,1.0,2.0,8.0,-16.0,33.41
11869,22200005,1610612737,ATL,Atlanta,1627749,Dejounte Murray,Dejounte,G,NaN,38:14,...,5.0,5.0,11.0,5.0,1.0,0.0,0.0,20.0,8.0,38.14
9116,22200110,1610612737,ATL,Atlanta,1627749,Dejounte Murray,Dejounte,G,NaN,38.000000:06,...,4.0,4.0,9.0,5.0,1.0,3.0,1.0,36.0,26.0,38.000000.06
1201,22200435,1610612750,MIN,Minnesota,203085,Austin Rivers,Austin,G,NaN,31:22,...,3.0,3.0,1.0,5.0,0.0,3.0,3.0,20.0,6.0,31.22
588,22200457,1610612740,NOP,New Orleans,1630529,Herbert Jones,Herbert,G,NaN,30:44,...,1.0,2.0,1.0,5.0,0.0,2.0,5.0,9.0,7.0,30.44
13263,12200037,1610612761,TOR,Toronto,1627832,Fred VanVleet,Fred,G,NaN,24:22,...,2.0,3.0,1.0,5.0,0.0,1.0,1.0,13.0,-8.0,24.22
9005,22200118,1610612753,ORL,Orlando,1630591,Jalen Suggs,Jalen,G,NaN,36:13,...,1.0,1.0,9.0,4.0,0.0,3.0,4.0,26.0,-3.0,36.13
3325,22200350,1610612741,CHI,Chicago,203897,Zach LaVine,Zach,G,NaN,35:52,...,6.0,8.0,2.0,4.0,0.0,2.0,1.0,41.0,1.0,35.52
5395,22200268,1610612743,DEN,Denver,1628971,Bruce Brown,Bruce,G,NaN,44:58,...,12.0,13.0,10.0,4.0,0.0,6.0,5.0,17.0,6.0,44.58
7844,22200165,1610612761,TOR,Toronto,1627832,Fred VanVleet,Fred,G,NaN,35:07,...,3.0,3.0,4.0,4.0,1.0,1.0,3.0,32.0,-1.0,35.07
9947,22200085,1610612749,MIL,Milwaukee,201950,Jrue Holiday,Jrue,G,NaN,36:40,...,2.0,2.0,12.0,4.0,1.0,3.0,3.0,34.0,12.0,36.40
5184,22200260,1610612755,PHI,Philadelphia,1629001,De'Anthony Melton,De'Anthony,G,NaN,36:32,...,6.0,6.0,3.0,4.0,0.0,5.0,2.0,20.0,-1.0,36.32
3761,22200334,1610612756,PHX,Phoenix,1626166,Cameron Payne,Cameron,G,NaN,36:56,...,1.0,1.0,12.0,4.0,0.0,4.0,1.0,20.0,6.0,36.56
4949,22200276,1610612754,IND,Indiana,1630169,Tyrese Haliburton,Tyrese,G,NaN,34:25,...,6.0,6.0,15.0,4.0,0.0,0.0,0.0,21.0,0.0,34.25

In [ ]:
highest_STL[highest_STL['']]

DETERMING THE NUMBER OF GAMES FOR A GIVEN TEAM BC IM CONFUSED BY THE DATA

In [107]:
# Only games that occurred in 2022
game_details_2022

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14650,12200001,1610612764,WAS,Washington,1630225,Isaiah Todd,Isaiah,NaN,NaN,12:00,...,1.0,1.0,2.0,0.0,0.0,0.0,0.0,4.0,3.0,-4.0
14651,12200001,1610612764,WAS,Washington,201959,Taj Gibson,Taj,NaN,NaN,10:30,...,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,8.0,-1.0
14652,12200001,1610612764,WAS,Washington,1630176,Vernon Carey Jr.,Vernon,NaN,NaN,8:20,...,1.0,2.0,3.0,0.0,0.0,2.0,0.0,0.0,3.0,-6.0
14653,12200001,1610612764,WAS,Washington,203115,Will Barton,Will,NaN,DND - Injury/Illness,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14654,12200001,1610612764,WAS,Washington,1629653,Devon Dotson,Devon,NaN,NWT - Not With Team,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
# Note: There are 82 regular season games
# Choose one team, so you have all the games in the 2022 season a single team 
GSW_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='GSW']
GSW_games

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
153,22200470,1610612744,GSW,Golden State,1630228,Jonathan Kuminga,Jonathan,F,NaN,30:15,...,2.0,4.0,6.0,4.0,1.0,0.0,4.0,2.0,4.0,-23.0
154,22200470,1610612744,GSW,Golden State,203110,Draymond Green,Draymond,F,NaN,23:16,...,0.0,4.0,4.0,6.0,0.0,0.0,2.0,2.0,2.0,-27.0
155,22200470,1610612744,GSW,Golden State,1626172,Kevon Looney,Kevon,C,NaN,16:55,...,4.0,3.0,7.0,1.0,0.0,0.0,1.0,3.0,6.0,-10.0
156,22200470,1610612744,GSW,Golden State,1630541,Moses Moody,Moses,G,NaN,30:55,...,0.0,1.0,1.0,3.0,1.0,0.0,0.0,3.0,17.0,-14.0
157,22200470,1610612744,GSW,Golden State,1629673,Jordan Poole,Jordan,G,NaN,26:11,...,0.0,1.0,1.0,2.0,1.0,0.0,7.0,1.0,13.0,-31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14634,12200001,1610612744,GSW,Golden State,1630652,Trevion Williams,Trevion,NaN,NaN,2:42,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,3.0,-2.0
14635,12200001,1610612744,GSW,Golden State,2738,Andre Iguodala,Andre,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14636,12200001,1610612744,GSW,Golden State,1630644,Mac McClung,Mac,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14637,12200001,1610612744,GSW,Golden State,1630311,Pat Spencer,Pat,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14638,12200001,1610612744,GSW,Golden State,202691,Klay Thompson,Klay,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
# Now find all the unique game ids and count them, which should give us the total
# number of games played by a single team (82)
len(GSW_games['GAME_ID'].unique())
# Not the right number...

38

In [120]:
# Let's try another team as well...
BOS_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='BOS']
len(BOS_games['GAME_ID'].unique())

36

In [121]:
# And why not one more
SAS_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='SAS']
len(SAS_games['GAME_ID'].unique())

36

In [122]:
WAS_games = game_details_2022[game_details_2022['TEAM_ABBREVIATION']=='WAS']
len(WAS_games['GAME_ID'].unique())

37

In [123]:
# Well lets look at the games csv then
games

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26646,2014-10-06,11400007,Final,1610612737,1610612740,2014,1610612737,93.0,0.419,0.821,...,24.0,50.0,1610612740,87.0,0.366,0.643,0.375,17.0,43.0,1
26647,2014-10-06,11400004,Final,1610612741,1610612764,2014,1610612741,81.0,0.338,0.719,...,18.0,40.0,1610612764,85.0,0.411,0.636,0.267,17.0,47.0,0
26648,2014-10-06,11400005,Final,1610612747,1610612743,2014,1610612747,98.0,0.448,0.682,...,29.0,45.0,1610612743,95.0,0.387,0.659,0.500,19.0,43.0,1
26649,2014-10-05,11400002,Final,1610612761,1610612758,2014,1610612761,99.0,0.440,0.771,...,21.0,30.0,1610612758,94.0,0.469,0.725,0.385,18.0,45.0,1
26650,2014-10-04,11400001,Final,1610612748,1610612740,2014,1610612748,86.0,0.431,0.679,...,18.0,42.0,1610612740,98.0,0.462,0.706,0.438,19.0,42.0,0

In [129]:
# Filter by season
games_2022 = games[games['SEASON']==2022]
games_2022

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,2022-10-02,12200005,Final,1610612738,1610612766,2022,1610612738,134.0,0.571,0.800,...,41.0,56.0,1610612766,93.0,0.347,0.643,0.152,13.0,43.0,1
538,2022-10-02,12200006,Final,1610612761,1610612762,2022,1610612761,114.0,0.483,0.667,...,20.0,61.0,1610612762,82.0,0.323,0.588,0.250,21.0,46.0,1
539,2022-10-02,12200007,Final,1610612745,1610612759,2022,1610612745,134.0,0.546,0.545,...,32.0,60.0,1610612759,96.0,0.355,0.655,0.262,21.0,44.0,1
540,2022-10-01,12200003,Final,1610612749,1610612763,2022,1610612749,102.0,0.430,0.714,...,22.0,50.0,1610612763,107.0,0.494,0.724,0.357,25.0,41.0,0
541,2022-09-30,12200001,Final,1610612764,1610612744,2022,1610612764,87.0,0.369,0.633,...,20.0,44.0,1610612744,96.0,0.367,0.775,0.269,18.0,62.0,0

In [131]:
# Filter for a specific team
games_2022_one_team = games_2022[games_2022['HOME_TEAM_ID']==1610612740]
games_2022_one_team

,GAME_DATE_EST,GAME_ID,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
23,2022-12-19,22200457,Final,1610612740,1610612749,2022,1610612740,119.0,0.424,0.708,...,30.0,44.0,1610612749,128.0,0.556,0.806,0.325,26.0,44.0,0
77,2022-12-11,22200395,Final,1610612740,1610612756,2022,1610612740,129.0,0.581,0.750,...,31.0,43.0,1610612756,124.0,0.467,0.765,0.342,34.0,42.0,1
99,2022-12-09,22200384,Final,1610612740,1610612756,2022,1610612740,128.0,0.511,0.800,...,27.0,44.0,1610612756,117.0,0.500,0.692,0.500,30.0,37.0,1
113,2022-12-07,22200371,Final,1610612740,1610612765,2022,1610612740,104.0,0.459,0.783,...,21.0,50.0,1610612765,98.0,0.389,0.813,0.357,17.0,42.0,1
127,2022-12-04,22200344,Final,1610612740,1610612743,2022,1610612740,121.0,0.506,0.778,...,29.0,36.0,1610612743,106.0,0.506,0.667,0.258,24.0,43.0,1
160,2022-11-30,22200318,Final,1610612740,1610612761,2022,1610612740,126.0,0.523,0.846,...,28.0,52.0,1610612761,108.0,0.477,0.684,0.289,29.0,30.0,1
175,2022-11-28,22200304,Final,1610612740,1610612760,2022,1610612740,105.0,0.448,0.900,...,21.0,49.0,1610612760,101.0,0.370,0.913,0.316,16.0,47.0,1
228,2022-11-21,22200253,Final,1610612740,1610612744,2022,1610612740,128.0,0.538,0.714,...,30.0,50.0,1610612744,83.0,0.378,0.895,0.233,17.0,34.0,1
250,2022-11-18,22200231,Final,1610612740,1610612738,2022,1610612740,109.0,0.494,0.769,...,24.0,37.0,1610612738,117.0,0.482,0.882,0.435,28.0,46.0,0
263,2022-11-16,22200217,Final,1610612740,1610612741,2022,1610612740,124.0,0.506,0.875,...,30.0,46.0,1610612741,110.0,0.494,0.647,0.344,25.0,37.0,1
267,2022-11-15,22200206,Final,1610612740,1610612763,2022,1610612740,113.0,0.473,0.750,...,31.0,43.0,1610612763,102.0,0.413,0.680,0.257,16.0,51.0,1
293,2022-11-12,22200191,Final,1610612740,1610612745,2022,1610612740,119.0,0.488,0.871,...,28.0,36.0,1610612745,106.0,0.506,0.778,0.333,24.0,43.0,1
305,2022-11-10,22200175,Final,1610612740,1610612757,2022,1610612740,95.0,0.418,0.792,...,19.0,45.0,1610612757,106.0,0.435,0.769,0.353,25.0,46.0,0
354,2022-11-04,22200128,Final,1610612740,1610612744,2022,1610612740,114.0,0.506,0.690,...,24.0,37.0,1610612744,105.0,0.493,0.920,0.375,23.0,29.0,1
423,2022-10-25,22200053,Final,1610612740,1610612742,2022,1610612740,113.0,0.579,0.722,...,25.0,26.0,1610612742,111.0,0.500,0.708,0.308,18.0,37.0,1
437,2022-10-23,22200040,Final,1610612740,1610612762,2022,1610612740,121.0,0.471,0.773,...,30.0,45.0,1610612762,122.0,0.439,0.821,0.342,29.0,44.0,0
482,2022-10-14,12200067,Final,1610612740,1610612737,2022,1610612740,120.0,0.484,0.783,...,33.0,50.0,1610612737,111.0,0.483,0.667,0.333,33.0,43.0,1
516,2022-10-07,12200034,Final,1610612740,1610612765,2022,1610612740,107.0,0.447,0.676,...,21.0,47.0,1610612765,101.0,0.365,0.806,0.286,22.0,45.0,1

In [133]:
# UGH IM CONFUSED
len(games_2022_one_team['GAME_ID'])

19