Liz: Looking into how a team performs. Looking if a team has any predictable indicators on strength of player for fantasy league.

In [10]:
# Dependencies
import pandas as pd
from pathlib import Path

# CSV paths
games_details_path = Path('/Users/lizmartin-strong/project3_nba_de/data/cleaned_data/games_details_cleaned.csv')
games_path = Path('/Users/lizmartin-strong/project3_nba_de/data/cleaned_data/games_cleaned.csv')
teams_path = Path('/Users/lizmartin-strong/project3_nba_de/data/cleaned_data/teams_cleaned.csv')
players_path = Path('/Users/lizmartin-strong/project3_nba_de/data/cleaned_data/players_cleaned.csv')
ranking_path = Path('/Users/lizmartin-strong/project3_nba_de/data/cleaned_data/ranking_cleaned.csv')

# Creating dataframes
games_details = pd.read_csv(games_details_path)
games = pd.read_csv(games_path)
teams = pd.read_csv(teams_path)
players = pd.read_csv(players_path)
ranking = pd.read_csv(ranking_path)

/var/folders/fs/__bdqblj65l1mfg08j7wgfwh0000gp/T/ipykernel_66449/1560294989.py:13: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  games_details = pd.read_csv(games_details_path)

In [25]:
# Review columns in 'players' dataframe
players.head(5)

              players_PK       PLAYER_NAME     TEAM_ID  PLAYER_ID  SEASON
0  161061276216262202019     Royce O'Neale  1610612762    1626220    2019
1   16106127622027112019  Bojan Bogdanovic  1610612762     202711    2019
2   16106127622034972019       Rudy Gobert  1610612762     203497    2019
3  161061276216283782019  Donovan Mitchell  1610612762    1628378    2019
4   16106127622011442019       Mike Conley  1610612762     201144    2019

In [33]:
# Review columns in 'teams' dataframe
teams.head(5)

,TEAM_ID,LEAGUE_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1610612737,0,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,1610612738,0,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,1610612740,0,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,1610612741,0,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,1610612742,0,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [38]:
#Create dataframe with all the players on a given team
teams_df = teams.drop(columns= ['LEAGUE_ID', 'DLEAGUEAFFILIATION','OWNER', 'CITY', 
                                       'ARENA', 'ARENACAPACITY', 'GENERALMANAGER', 'HEADCOACH'])
team_players_df =pd.merge(players, teams_df, on='TEAM_ID', how= 'inner')
#teams_players_df = team_players_df.groupby('TEAM_ID')
team_players_df.head()

,players_PK,PLAYER_NAME,TEAM_ID,PLAYER_ID,SEASON,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED
0,161061276216262202019,Royce O'Neale,1610612762,1626220,2019,1974,2019,UTA,Jazz,1974
1,16106127622027112019,Bojan Bogdanovic,1610612762,202711,2019,1974,2019,UTA,Jazz,1974
2,16106127622034972019,Rudy Gobert,1610612762,203497,2019,1974,2019,UTA,Jazz,1974
3,161061276216283782019,Donovan Mitchell,1610612762,1628378,2019,1974,2019,UTA,Jazz,1974
4,16106127622011442019,Mike Conley,1610612762,201144,2019,1974,2019,UTA,Jazz,1974

In [39]:
nba_teams = team_players_df[['TEAM_ID', 'NICKNAME','SEASON','PLAYER_NAME','PLAYER_ID']].copy()
nba_teams.head()

      TEAM_ID NICKNAME  SEASON       PLAYER_NAME  PLAYER_ID
0  1610612762     Jazz    2019     Royce O'Neale    1626220
1  1610612762     Jazz    2019  Bojan Bogdanovic     202711
2  1610612762     Jazz    2019       Rudy Gobert     203497
3  1610612762     Jazz    2019  Donovan Mitchell    1628378
4  1610612762     Jazz    2019       Mike Conley     201144

In [19]:
# Get season and game_id columns from games.csv
games_seasons = games[['SEASON','GAME_ID_pk']].rename(columns={'GAME_ID_pk':'GAME_ID'})

# Merge games_seasons with games_details so that each game_id gets a season
games_details_szns = pd.merge(games_details,games_seasons, on='GAME_ID',how='left')

,games_details_PK,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,...,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,SEASON
0,222004771629641,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,...,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,2022
1,222004771631110,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,...,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,2022
2,222004771627751,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,...,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,2022
3,222004771630170,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,...,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,2022
4,222004771630200,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,...,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668334,11200005202706,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,...,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN,2012
668335,11200005202702,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,...,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN,2012
668336,11200005201585,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,...,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN,2012
668337,11200005202389,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,...,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN,2012
668338,11200005201951,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,...,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN,2012

In [ ]:
# Adding new columns for FG2
games_details_szns['FG2M'] = games_details_szns['FGM'] - games_details_szns['FG3M']
games_details_szns['FG2A'] = games_details_szns['FGA'] - games_details_szns['FG3A']
games_details_szns['FG2%'] = games_details_szns['FG2M'] / games_details_szns['FG2A']

In [20]:
# Break out games by season
games[games['SEASON']==2022]

,GAME_ID_pk,GAME_DATE_EST,GAME_STATUS_TEXT,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,...,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,22200477,2022-12-22,Final,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,...,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,22200478,2022-12-22,Final,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,...,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,22200466,2022-12-21,Final,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,...,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,22200467,2022-12-21,Final,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,...,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,22200468,2022-12-21,Final,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,...,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,12200005,2022-10-02,Final,1610612738,1610612766,2022,1610612738,134.0,0.571,0.800,...,41.0,56.0,1610612766,93.0,0.347,0.643,0.152,13.0,43.0,1
538,12200006,2022-10-02,Final,1610612761,1610612762,2022,1610612761,114.0,0.483,0.667,...,20.0,61.0,1610612762,82.0,0.323,0.588,0.250,21.0,46.0,1
539,12200007,2022-10-02,Final,1610612745,1610612759,2022,1610612745,134.0,0.546,0.545,...,32.0,60.0,1610612759,96.0,0.355,0.655,0.262,21.0,44.0,1
540,12200003,2022-10-01,Final,1610612749,1610612763,2022,1610612749,102.0,0.430,0.714,...,22.0,50.0,1610612763,107.0,0.494,0.724,0.357,25.0,41.0,0
541,12200001,2022-09-30,Final,1610612764,1610612744,2022,1610612764,87.0,0.369,0.633,...,20.0,44.0,1610612744,96.0,0.367,0.775,0.269,18.0,62.0,0

In [21]:
# Drop non-starters from games_details_szns df
#starters_by_szn = games_details_szns.dropna(subset=['START_POSITION'])